[2014-12-19 16:31] nscavell opened #1 "Support SSL"
Currently SSL is configurable, but not supported as it uses a different StreamFactory (Netty). We could have version conflicts with the Netty that mongo uses and the one vertx uses.

[2014-12-19 16:32] nscavell opened #2 "Support Write Concern Results"
Starting with version 2.6, Mongo returns write concern results of write operations. The Mongo driver returns things like UpdateResult and InsertResult. We should return something similar.

[2015-03-16 09:36] michaelom opened #5 "support user defined document id"
I want to persist domain objects to MongoDb overriding the name of the ID_FIELD from "_id to a domain object specific property (e.g. "customerId"). My current workaround looks like this:

[code]

[2015-03-23 14:27] purplefox commented on #5
Seems reasonable. How about submitting a PR? :)

[2015-03-23 14:31] michaelom commented on #5
Hi Tim,

submitting a PR sound reasonable too. ;-)
I will think about a reasonable way to supply user defined ID fields first and propose a solution here.

[2015-04-02 09:02] ashertarno opened #6 "there is no way to store objects of mongo types Date or ISODate"
since Json.checkAndCopy() does not allow Date/DateTime/Timestamp etc objects to be set through JsonObject.put(), there is no way to store objects of mongo types Date and ISODate.

[2015-04-10 09:28] kovax opened #7 "Documentation: Add reference to vertx-service-factory"
Deployment examples using service name shall mention that vertx-service-factory dependency is required in the classpath,

[2015-05-03 13:54] xunitc commented on #5
Hi.
I want save a document with java.lang.Long _id, and get this exception:
io.vertx.core.eventbus.ReplyException: java.lang.Long cannot be cast to java.lang.CharSequence
	at io.vertx.core.eventbus.impl.MessageImpl.fail(MessageImpl.java:288)

I am not sure it is a mongo-service problem or a json problem. but my db use Long _id.

[2015-05-05 10:54] xunitc commented on #5
Hi, at the line 106 of io.vertx.ext.mongo.impl.MongoServiceImpl.java
I see
        return document.getString(ID_FIELD);
I think maybe some one's _id type is not String, so is it better to use
        return document.getValue(ID_FIELD);

[2015-05-05 11:00] purplefox commented on #5
Thanks! Could you send a PR with a test?

[2015-05-21 12:34] meshuga commented on #6
+1

[2015-05-22 10:28] alober2 opened #10 "Can not save document."
I try it, but can not save document.
import io.vertx.groovy.ext.mongo.MongoClient;
def options = [
	config:[
		"host": "127.0.0.1",
		"port": 27017,
		"pool_size": 15,
		"db_name": "test_bug"
	]
]

def client = MongoClient.createShared(vertx, options.config);
def document = [
	_id: 1234,
	title: "Language"
]
client.insert("bug_test", document, { res ->
	if (res.succeeded()) {
		def id = res.result

[2015-05-24 19:27] michalig commented on #6
+1
There is pull request for this issue already:
https://github.com/vert-x3/vertx-mongo-client/pull/4

... but after having quick look at it I think I know why it wasn't merged ;)

[2015-05-28 10:21] meshuga opened #11 "Cannot use aggregation framework"
Currently it's not possible to use aggregation framework with service. According to the documentation (http://docs.mongodb.org/manual/reference/command/aggregate/#dbcmd.aggregate) the structure of the command is as follows:
[code]
The thing is that the first parameter of JSON object is `aggregate` keyword and MongoDB (3.0.2 tested) mandates this structure. Unfortunately, the aggregation request pa

[2015-05-29 13:34] sfitts opened #12 "Nested Objects and Arrays materialized in their Java form"
The language bindings are intended to present JSON documents in their "native" form to each language. In the Groovy binding (and perhaps others) this is working for the root object, but not for any nested objects and/or arrays.  These are instead presented as JsonObject and/or JsonArray instances.

See the following thread for more info https://groups.google.com/forum/#!topic/vertx-dev/StuQ8pv3kWQ

[2015-05-29 13:38] sfitts commented on #6
Saving null's is also broken (and fixed in the PR).

@michalig -- I'd be interested to know why -- I pulled the code and it appears to correctly solve both issues.  It also adds tests (which is good), so it looks reasonable to my eye.  However, I'm new around here and trying to learn the expectations, so this would be good general knowledge.

[2015-05-29 15:40] purplefox commented on #10
Can you provide a reproducer please?

[2015-05-29 15:43] purplefox commented on #11
Hmm, JSON does not provide any ordering guarantees. I don't think this is Vert.x specific, it's just the way JSON works.
I can't see anything here http://docs.mongodb.org/manual/reference/command/aggregate/#dbcmd.aggregate that says the fields have to be in a specific order.

[2015-05-29 16:13] meshuga commented on #11
According to this document http://docs.mongodb.org/manual/tutorial/use-database-commands/ the first field has to be a command.

[2015-05-29 16:18] purplefox commented on #11
Right... but JSON itself has no concept of "first key", in JSON keys are in no specific order.

Mongo uses BSON - which does have ordering and we convert our JSON to BSON, so I'm not sure how we would handle this.

Do you have any suggestion?

[2015-05-29 16:22] purplefox commented on #11
I think we'd need to have adapt the runCommand method on the client to take the command name as first param

[2015-05-29 16:26] purplefox commented on #11
One thing I am slightly puzzled about is although JSON itself provides no ordering, our own JsonObject implementation does.

Can you provide a simple reproducer that demonstrates the issue?

[2015-05-29 16:27] purplefox commented on #7
These have been removed anyway

[2015-05-29 16:27] #7 closed

[2015-05-29 16:42] meshuga commented on #11
Yes, adding the first parameter would be great. I can handle that ;)
I think tomorrow I'll send a reproducer and start a discussion on google groups about my team's concerns about this module :)

[2015-05-29 16:45] purplefox commented on #11
BTW, please take a look at my latest post about mongo on the dev group :)

[2015-05-29 19:45] vietj commented on #12
Hi, this is solved with the change in master to use consistent Map/List in JsonObject / JsonArray in Vert.x core. See https://github.com/eclipse/vert.x/commit/085eb0d62318111b4e499d16e54fb96422411b3d

[2015-05-29 19:45] #12 closed

[2015-05-30 03:17] alober2 commented on #10
Hi, I write a java file to do that. it show java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.CharSequence
// vertx run Server.java

import io.vertx.ext.mongo.MongoClient;
import java.util.*;
import io.vertx.core.json.*;
import io.vertx.core.AbstractVerticle;

public class Server extends AbstractVerticle {
    public void start() {
        JsonObject config = new JsonObje

[2015-05-30 12:10] meshuga commented on #11
https://gist.github.com/meshuga/b5a0ac1e797c082c6b3c

[2015-05-30 18:47] sfitts opened #13 "Nested Objects and Arrays materialized in their Java form"
This is a re-opening of #12 since the changes that were targetted to fix it were reverted.

The language bindings are intended to present JSON documents in their "native" form to each language. In the Groovy binding (and perhaps others) this is working for the root object, but not for any nested objects and/or arrays. These are instead presented as JsonObject and/or JsonArray instances.

See the f

[2015-05-30 18:47] sfitts commented on #12
This appears to have been reverted by https://github.com/eclipse/vert.x/commit/ef73b29cee5e5422f0c8ba0ca5eaf03e257f738b.  I can't re-open this issue so I'm going to create a new one - #13

[2015-05-30 18:53] sfitts commented on #13
Moved to https://github.com/vert-x3/vertx-lang-groovy/issues/5

[2015-06-03 09:42] andyhedges commented on #6
+1
Also effect all mongo commands on a replica set as a timestamp of is returned in the result causing an UnsupportedOperationException to be thrown. Would be preferable in some ways to just ignore the field rather than throw the exception.

[2015-06-04 12:34] purplefox commented on #11
This should be fixed now.

[2015-06-04 12:34] #11 closed

[2015-06-05 09:05] purplefox commented on #13
I'm going to look at this now

[2015-06-06 19:15] sfitts opened #17 "Groovy code not included in sources jar."
It looks like it is supposed to be, but isn't.  I took a look and tried to figure out why this might be, but I don't know enough about the build ordering to really know for sure what is going on.

Not sure if it is related, but I see some errors relating to building the groovydocs.

[2015-06-07 07:21] sfitts opened #19 "Find fails when reading object which contains an array with a null entry."
The method `AbstractJsonObjectCodec.readArray` calls `JsonArray.add` to add new entries.  This causes a failure if the entry read is `null`.  In this case you need to use `addNull` to avoid an NPE.  See https://bugs.eclipse.org/bugs/show_bug.cgi?id=469553 for additional context.

[2015-06-07 16:49] purplefox commented on #19
Fixed.

[2015-06-07 16:49] #19 closed

[2015-06-07 16:51] sfitts commented on #19
Thanks

[2015-06-07 16:58] purplefox commented on #10
Thanks. This should be fixed now in master.

[2015-06-07 16:58] #10 closed

[2015-06-07 16:59] purplefox commented on #5
I think this is fixed now in master. If not, please reopen

[2015-06-07 16:59] #5 closed

[2015-06-07 17:04] purplefox commented on #6
I merged #4 but this issue is very confusing as it seems to be talking about several different things:

1. date support
2. support of nulls
3. support all different bson types

So I'm going to close this, but please open new *separate* issues if there are any outstanding issues that still need to be addressed :)

[2015-06-07 17:04] #6 closed

[2015-06-07 17:10] purplefox commented on #17
I'm guessing a codegen/docgen issue? @vietj what do you think?

[2015-06-07 17:18] vietj commented on #17
it's more a packaging issue in vertx-ext-parent I think and should be addressed here

[2015-06-08 09:27] ashertarno opened #20 "iso 8601 is used for $date, but it lacks milliseconds support."
the latest solution for $date handling leverages java.time.format.DateTimeFormatter.ISO_OFFSET_DATE_TIME (iso 8601) which doesn't support milliseconds.
while dates in format  '2011-12-03T10:15:30+01:00' are accepted , attempt to send something like
'2015-06-08T12:10:16.148+0300' throws parsing exception.

[2015-06-15 07:11] purplefox commented on #13
Is this now fixed?

[2015-06-15 07:12] purplefox commented on #17
@vietj can you close this if it's handled elsewhere?

[2015-06-15 08:47] #17 closed

[2015-06-15 11:10] pmlopes commented on #20
The current mongo client does properly parse millis the problem in your test case was that the string you provided is not valid according to the Java8 DateTime API, more specifically the timezone part is always expected to have a minute seperator HH:MM and HHMM is not valid

[2015-06-15 11:10] #20 closed

[2015-06-15 14:27] sfitts commented on #13
Not until https://github.com/vert-x3/vertx-mongo-client/pull/22 is merged.

[2015-06-18 14:47] #13 closed

[2015-06-20 17:39] sfitts opened #24 "Groovy: update converts inner map/list to JsonObject/JsonArray"
In the Mongo client API update has the side effect of reserializing the updated data from the DB in place.  This means that the interior property values are repopulated via the installed Codec which in our case means that they are recreated as JsonObject/JsonArray instances.  In the case of select we explicitly convert the objects using `InternalHelper.wrapObject`, but that doesn't happen in the u

[2015-06-20 18:08] sfitts commented on #24
As I suspected this happens on insert too (and probably replace and save).  I'll have a gist soon to demonstrate all these cases (have to duck out now so it will be a couple of hours).

[2015-06-20 20:51] sfitts commented on #24
The following gist demonstrates the issue for insert and update.  I'm pretty sure that save and replace will have the same issues -- https://gist.github.com/sfitts/af7c6446e8ba709ffcfc.

[2015-06-21 08:42] purplefox commented on #24
What's the reason for doing this?

[2015-06-21 14:25] sfitts commented on #24
No idea.  It happens in the Mongo java driver so you'd have to ask the MongoDB folk.

[2015-06-21 17:09] purplefox commented on #24
Ok, I guess I have misunderstood what you meant then. Could you maybe explain in a bit more detail what you mean by "update has the side effect of reserializing the updated data from the DB in place. "

[2015-06-21 18:14] purplefox commented on #24
I think what you're saying is that the object you pass into insert, for some reason, gets updated - so my question is - what's the reason for this? If there is no good reason  we can easily prevent it from happening, after all its our own object.

[2015-06-21 18:14] sfitts commented on #24
It's probably easiest to see/understand via the gist I posted, but I'll give it my best shot.  Let's say you have the following JSON object defined in groovy:

[code]

Now lets say you issue the following call to the Vertx mongo client (again in groovy):

[code]

When the operation completes you'd expect `obj` to still be a legal groovy JSON object (that is all maps and lists as normal), but inste

[2015-06-21 18:16] purplefox commented on #24
Ok thanks Sean, I get that that is what is happening, but the question is _why_ ?

[2015-06-21 18:18] sfitts commented on #24
You are correct, the object gets updated.  If it is an insert the `_id` property will be added and all of the other properties will be recreated via the registered Codec's.  The code that does this is inside the Java async driver and I know of no way to prevent it from happening.

[2015-06-21 18:25] purplefox commented on #24
Updating a generated id seems valid but I don't see why any other updates are done.

I don't buy the argument (yet!) that the code is "inside the async driver". Surely this is handled by the JsonObjectCodec (our code)?

I'm not an expert on this code but I can see a method called "generateIdIfAbsentFromDocument" which seems to insert the id. So, can't we control the behaviour in the codec class?

[2015-06-21 18:28] sfitts commented on #24
Perhaps.  Though we may find it difficult to understand the context in which we are being asked to operate.  The creation of the JsonObject and JsonArray intances is clearly being done by our codec.  But the codec code is simple -- you say read this Bson and it does so and produces the objects it thinks it should.  Getting it to produce something different here sounds... difficult.

Not to mention

[2015-06-21 18:33] purplefox commented on #24
A simple solution would be to make a copy of our json object before passing it to Mongo, then when we get the result back just take the generated id field (if any) and stick it back in the original object....

But I would love to know why Mongo client is regenerating the entire object when just an id is updated - it seems horribly inefficient...

[2015-06-21 18:54] sfitts commented on #24
OK, so I just debugged into this and here is what I see.  The conversion of the graph is happening as a side-effect of doing the write (as I suspected), but it isn't directly due to the mongo driver (as you suspected).  During the encoding of the object graph we have to iterate each of the sub-graphs.  Since the outermost object here is a JsonObject (created as we pass through the groovy shim) the

[2015-06-21 18:59] sfitts commented on #24
FWIW, the mongo codec is the entry point here, maybe we can use that to our advantage.  Here's the full stack at the point where the object is initially altered:

[code]

Maybe we could provide a variant of the iterator that didn't update the object which we could use in this case?

[2015-06-21 19:01] purplefox commented on #24
Right, the iterator shouldn't change the JsonObject, in fact I fixed this bug some time back but it got reverted when Julien's changes to JsonObject to solve the Groovy wrapper issue were reverted :(

[2015-06-21 19:19] sfitts commented on #24
Cool -- since that's in core I'll leave it to you ;).  Thanks for the help.

[2015-06-21 19:21] purplefox commented on #24
I'll fix it in core, but if you could write a test for the mongo client which tests this case, that would be great :)

[2015-06-21 19:22] sfitts commented on #24
Will do.  I'll put a PR up a bit later today.

[2015-06-21 19:34] purplefox commented on #24
Actually, no need to worry, I've fixed it in core and added a test in mongo client too.

[2015-06-22 04:03] sfitts commented on #24
Confirmed fix with my previously posted gist.  Thanks.

[2015-06-22 04:03] #24 closed

[2015-06-24 15:12] kishorgandham opened #25 "Cannot upsert document with save() vertx 3.0.0"
Hi,

It looks like the save() method is not inserting document is the _id is populated and a document with such  id doesnt exist in mongodb.

Sample code to replicate

import io.vertx.ext.mongo.MongoClient;
import io.vertx.core.json.JsonObject;
import io.vertx.core.AbstractVerticle;

public class Server extends AbstractVerticle {

public void start() {

    JsonObject config = new JsonObject();

[2015-06-25 11:32] pmlopes commented on #25
The issue is related to the way the mongo driver works, if you want to do upserts you should do instead:

[code]

[2015-06-25 11:32] #25 closed

[2015-06-27 16:20] alexlehm opened #26 "config assumes that both host and port are set and gives a NPE otherwise"
When setting only a hostname in the config, I would expect the port to be set to the default, however currently it either assumes localhost:27017 when host and port are not set or both have to be set. Otherwise you get a NPE since Port is null when creating the ServerAddress object.

<pre>
  @Test
  public void portDefault() {
    JsonObject config = new JsonObject();
    config.put("host", "127.0

[2015-06-29 07:50] #26 closed

[2015-07-14 20:24] wieki opened #28 "ObjectId support"
ObjectId support seems still basic in the 3.0.0 implementation, I noticed that conversion in the codec is still a todo. The behavior is now not completly consistent, a date value is (like with Mongo tools) is converted to a { "$date" : "dat-val"} value, while the objectIds are converted to the hex string values, instead of a more consistent { "$oid" : "id-val" } value.

I made some small adjustmen

[2015-07-23 09:24] kajmagnus79 opened #30 "Support Read Preference config value"
The old Vert.x 2 MongoDB client supports the Read Preference config option, http://docs.mongodb.org/manual/core/read-preference/, which tells the Mongo client to which replica set members it should send its requests, for example the nearest one. Perhaps the Vert.x 3 MongoDB client would like to support it as well? We're using Vert.x 2 right now and do make use of the Read Preference config option.

[2015-07-26 05:41] michel-kraemer opened #31 "Support for indexes"
It would be great if the client would support managing indexes (`getIndexes()`, `createIndex()` and `dropIndex()`, and maybe even `ensureIndex()`). Any plan to implement this?

[2015-07-27 04:34] joselillo opened #32 "Save method does not insert a new document when the _id field is specified"
When I try to insert a new document specifiying the _id field, the document will not be saved.

document = {
        "title": "New document",
        "_id": "12345"
    }
mongoClient.save("collectionName", document, callback);

upsert default value is false, and the mongoClient.save method calls replaceOne because the id is not null, and replaceOne will create a UpdateOption object without argumen

[2015-07-29 06:28] kajmagnus79 commented on #32
I too was surprised by this. In the end I changed from `mongoClient.save(...)` to `client.insert(...)`.

[2015-07-29 08:57] kajmagnus79 commented on #30
I just found out, when stepping through some source code with the debugger, that Read Preference is actually supported already :-) It's not yet documented here though: http://vertx.io/docs/vertx-mongo-client/java/#_configuring_the_client

The following seems to work, at least it result in vertx-mongo-client calling MongoDB's own API and setting the correct read preference:

[code]

[2015-07-29 08:57] #30 closed

[2015-08-03 19:18] pmlopes commented on #32
You should look at the mongo-async-driver API:
http://mongodb.github.io/mongo-java-driver/3.0/driver-async/

and not really think of the mongo cli API since the client is built on top of the async driver.

[2015-08-14 10:42] johnoliver commented on #1
Although better support should be added, at the moment I am using SSL without issues. The quick work around is to set the `org.mongodb.async.type` property before creating any clients, with:
[code]

[2015-08-14 10:46] johnoliver opened #33 "Add support for batch size in FindOptions"
Currently there is no way to control the size of batches retuned from mongo.

http://docs.mongodb.org/v2.6/reference/method/cursor.batchSize/

[2015-08-14 11:33] johnoliver commented on #33
Having looked at the code a bit further, I am not sure batching is supported in any way as there doesn't seem to be any mechanism to request more data. Currently `FindIterable.into` is used (https://github.com/vert-x3/vertx-mongo-client/blob/master/vertx-mongo-client/src/main/java/io/vertx/ext/mongo/impl/MongoClientImpl.java#L184), which if I understand it correctly simply reads all available batc

[2015-08-19 08:42] etorres commented on #31
Instead, I would rather ask the question more generally: is there any plan to support all the operations of the interface MongoCollection of the mongoDB Java driver:

http://api.mongodb.org/java/3.0/com/mongodb/client/MongoCollection.html

Otherwise, the client might fail to cover a large number of mongoDB use cases.

[2015-08-19 09:00] pmlopes commented on #31
Hi you should be looking at this class instead: http://api.mongodb.org/java/3.0/com/mongodb/async/client/MongoCollection.html

It regards to covering the whole API it is just a matter of having time for it or someone from the community to provide PRs, it does not to be the whole API at once though :)

[2015-08-19 09:14] etorres commented on #31
Sorry, I don't get the point. I suppose that your objective with vertx-mongo-client is to provide a replacement for mongoDB Java driver by building a Vert.x wrapper around the collection's operations, but this seems not to be the case. Could you clarify this for me, please. Thanks!

[2015-08-19 09:19] pmlopes commented on #31
You asked if we would cover the driver API, i just linked the async driver API because we use the async driver (not the one you linked).

We are not replacing the driver, in fact the vertx-mongo-client uses the async driver internally. Of course we cannot just expose that class since we need to create as you said a vert.x wrapper, so we can be polyglot.

[2015-08-19 10:24] etorres commented on #31
Many thanks for your response. Now I see the difference with the async driver. As I said before, it's very unlikely that someone could use solely the vertx-mongo-client if it lacks support for common operations, such as managing collection indexes. I look forward to this project continuing to improve and I promise that if I manage to get some free time, I will contribute to the project.

[2015-08-27 22:25] diabolicallab opened #36 "useObjectId Doesn't work"
Setting useObjectId to true in the configuration results in the _id being saved as a hex string rather than an ObjectId.

[2015-08-28 08:54] pmlopes commented on #36
There was a PR about ObjectIds just merged could you re-test this issue and report the status?

[2015-08-28 08:55] pmlopes commented on #28
There was a PR just merged about OIDs could you please retest and report if this is working for you? Thanks!

[2015-08-28 17:44] karianna commented on #36
@diabolicallab Are you able to retest this on master?

[2015-08-28 17:48] karianna commented on #32
If the API is 'correct' then this is perhap a documentation issue.  I'll need to double check with those more hands on than I.

[2015-08-28 17:50] karianna commented on #32
Hmm reading the other issues it seems that many end users aren't aware that we're using the async driver internally.  I'll raise a seperate doc / javadoc issue

[2015-08-28 17:51] karianna opened #37 "Add Documentation / Javadoc making it clear that this client uses the Mongo Async Driver"

[2015-08-28 17:51] karianna commented on #28
@wieki Could you restest this on master and let us know?

[2015-08-28 17:54] karianna commented on #28
@pmlopes - Apologies for jumping over your comments - figured I'd add the OP username

[2015-08-28 18:16] diabolicallab commented on #36
I tested on master after the PRs and it still doesn't work. I already created a branch in my fork for the fix. I should have a tested PR for you today.

[2015-08-28 19:18] karianna commented on #36
Fantastic thank you!

On Friday, 28 August 2015, diabolicallab <notifications@github.com> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2015-08-28 19:41] karianna commented on #36
I've assigned to me for review when it comes in (since I can't assign to OP)

[2015-08-28 19:43] karianna commented on #32
Closing for new - see https://github.com/vert-x3/vertx-mongo-client/issues/37

[2015-08-28 19:43] #32 closed

[2015-08-28 22:06] karianna commented on #37
May need to open an issue on the vertx-web project.

[2015-08-29 17:32] diabolicallab commented on #36
Martijn, The PR has been submitted.

[2015-08-30 06:53] cescoffier commented on #37
Why is this related to vertx-web ? The documentation and javadoc are generated in the vertx-mongo-client. (maybe I miss something obvious)

[2015-08-30 07:33] karianna commented on #37
Hi Clement,

My misunderstanding I suspect

On Sunday, 30 August 2015, Clement Escoffier <notifications@github.com>
wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2015-08-30 20:26] johnoliver commented on #36
Should have been fixed by #38

[2015-08-30 20:26] #36 closed

[2015-08-30 20:36] johnoliver opened #39 "Avoid mutating arguments passed into various methods"
Currently we will mutate JsonObjects that are passed in to some methods, most notably we will add _id fields to objects when calling a save. This will happen even if the save fails, I believe this could *potentially* lead to dangerous behaviour.

My previous logic was that if a save failed I would retry, however by this point an _id field had already been placed on the document, so the second call

[2015-08-30 20:43] karianna commented on #39
I'd agree that's breaking the prinicple of least surprise. The Id generation and save should effectively be an atomic operation (yeah, yeah, we're not in txn SQL now Dorothy)

[2015-09-04 16:48] johnoliver opened #40 "Stop throwing away useful results from Mongo"
A number of the operations such as update and replace throw away useful info by taking the UpdateResult (or whatever), throwing it away then returning null. Such as at:

https://github.com/vert-x3/vertx-mongo-client/blob/master/vertx-mongo-client/src/main/java/io/vertx/ext/mongo/impl/MongoClientImpl.java#L153

[2015-09-04 19:35] karianna commented on #40
I'd argue that's breaking the intent of wrapping that driver, so labelling as a bug.  PRs welcome!

[2015-09-06 19:40] zdila commented on #40
Isn't this a duplicate of #2 ?

[2015-09-07 07:27] karianna commented on #40
Very close to it, they could be merged probably. Doing so now...

[2015-09-07 07:27] #40 closed

[2015-09-07 07:27] karianna commented on #2
Closed #40 as a duplicate.  John's comments from there:

A number of the operations such as update and replace throw away useful info by taking the UpdateResult (or whatever), throwing it away then returning null. Such as at:

https://github.com/vert-x3/vertx-mongo-client/blob/master/vertx-mongo-client/src/main/java/io/vertx/ext/mongo/impl/MongoClientImpl.java#L153

[2015-09-12 07:05] cescoffier commented on #2
I'm not sure this will be fix in the 3.1.0, probably 3.2.0. What do you think @karianna.

[2015-09-12 07:13] cescoffier commented on #28
Any news on this ? Should it be delayed to 3.2.0 ?

[2015-09-12 07:21] karianna commented on #28
I'll probably push all 3.1.0 issues to 3.2.0 at this stage.

[2015-09-12 07:22] karianna commented on #2
Agreed, shifting.

[2015-09-14 09:21] johnoliver commented on #28
you can push the bug to 3.2.0 on the basis that it is now just a question for the OP, but I believe the original bug is resolved. We are using the current snapshots and object Id's and it appears to be working well.

[2015-09-14 10:58] karianna commented on #28
Back to 3.1.0 and closed then,

[2015-09-14 10:58] #28 closed

[2015-09-14 12:22] wieki commented on #28
I'm sorry I couldn't reply earlier, I am no longer part of the project that
involved vertx, I wasn't available earlier to comment.

2015-09-14 12:58 GMT+02:00 Martijn Verburg <notifications@github.com>:

[2015-09-23 14:44] Kenjee opened #42 "JAVA high frequent gc - com.mongodb.connection.AsynchronousSocketChannelStream$BasicCompletionHandler EATs CPU"
i found a bug using "io.vertx.ext.mongo.MongoClient". If MongoDB is unavailable for a minute or less a minute the VertxInstance runs into many small GCs and eats CPU.  While MongoDB is back only restart helps.

![mongoeatingcpu](https://cloud.githubusercontent.com/assets/4869328/10047731/c9fa4156-620f-11e5-8f68-b2c40f20590b.png)

while profiling this problem locally i found "com.mongodb.connection

[2015-09-23 15:09] karianna commented on #42
Seems like a simple enough fix - PRs welcome!

[2015-09-23 20:14] #42 closed

[2015-09-24 15:35] johnoliver opened #44 "Creating a new document with an _id field fails"
The current logic of saveWithOptions, says that if the document to save has an _id then the query gets changed to a "replaceOne", if the db then does not have an existing entry with that _id no document will be saved.

[2015-09-25 08:23] karianna commented on #44
That begs the question, what should the logic say?

[2015-09-25 09:03] johnoliver commented on #44
willing to bet passing `new UpdateOptions().upsert(true)" to replaceOne would do the trick

[2015-09-25 10:40] johnoliver opened #45 "Check that ObjectId convertion is applied to all objects that it should apply to"
Go through all of the methods in MongoClientImpl, as I think there are some objects that should have encodeKeyWhenUseObjectId called on them that currently do not, updateWithOptions for instance does not call it on the update, which I believe means you cant pass in an object to update with an ObjectId type _id.

[2015-09-25 10:57] meggarr commented on #31
Probably, I would suggest this is not necessary, since createIndex can be achieved simply by `MongoClient.runCommand`, e.g.

[code]

[2015-09-25 12:34] karianna commented on #31
I'll leave it in the backlog but PRs are welcome, I favour the client modelling the domain with its API as opposed to the generic runCommand fallback.  Appreciate it's a perfectly valid workaround though.

[2015-09-30 11:06] purplefox commented on #39
Also bear in mind that the mongo client might be used remotely using  a service proxy where any changes to the passed in JsonObject won't be visible.

[2015-10-02 15:18] johnoliver opened #46 "Auth should probably set the "authSource" to match "db_name""
By default unless an authSource is defined it will auth against "admin". Encouraging apps to use admin db accounts as their application user is not great, and also the fact that it did not authenticate against the user of the db was unexpected and took some debugging to find.

In my opinion if no authSource is provided we should set it to the db the user is using, provided via "db_name"

[2015-10-02 17:12] karianna commented on #46
Sounds reasonable, admin by default is actually a bit of a security concern.

[2015-10-06 14:13] johnoliver opened #47 "AbstractJsonCodec.writeValue throws an NPE on an unknown data type"
Current code is:
[code]

`getBsonType` returns null on an unknown type, the switch then NPE's giving an unhelpful stack trace on an unknown type.

[2015-10-22 15:47] johnoliver opened #50 "Support distinct query"
https://docs.mongodb.org/manual/reference/method/db.collection.distinct/

[2015-10-22 17:00] #44 closed

[2015-10-27 10:48] wklenk opened #51 "AbstractJsonCodec throws UnsupportedOperationException when reading timestamps"
Using the vertx-mongo-client in a MongoDB using replica sets, in some come database operations I get a *java.lang.UnsupportedOperationException*.
The reason seems to be that the replica set returns a date (or timestamp) and non-replicated doesn't. It seems that Vertx BSON support can't handle date types yet. The parser isn't complete and so returns an *java.lang.UnsupportedOperationException*.

Ex

[2015-10-30 09:40] gokl opened #52 "Result handlers not run on calling vertx context"
Hi,

it seems to me that the result handlers for the several methods in MongoClient.java / MongoClientImpl.java are not being run on the context of the calling thread, i.e. the eventloop.

Instead the call to vertx.runOnContext creates a new context for the thread the result handler runs in (mongo client threads). This causes the result handlers to run on a different thread than the verticles even

[2015-10-30 09:46] purplefox commented on #52
It looks like a bug to me.

You're right: The context should be captured before the call and context.runOnContext() should be used to execute the callback.

[2015-10-30 10:33] gokl commented on #52
Ok, should i create a pull request for it or do you want to fix it?

[2015-10-30 15:24] purplefox commented on #52
I'm not the maintainer of this component, but I'm sure he won't a PR ;)

[2015-10-30 18:24] karianna commented on #52
PR most welcome!

[2015-11-02 11:10] #33 closed

[2015-11-03 22:54] karianna opened #54 "Fix flapdoodle classnotfound exceptions in build 612 and 613"
Build failures: https://vertx.ci.cloudbees.com/view/vert.x-3/job/vert.x3-mongo-client/612/console

[2015-11-04 05:57] cescoffier commented on #54
Hi Martin,

It's a change I made to avoid important more tan one version of slf4j. Will fix it this morning.

[2015-11-04 08:00] #54 closed

[2015-11-04 10:57] karianna commented on #54
Thanks!

[2015-11-05 22:20] etourdot opened #55 "Test broken: findbatch test should be only on client project"
FindBatch method doesnt work with ProxyHandler.
Test of findbatch must be only on client projet not on service project.

[2015-11-05 22:49] karianna commented on #55
Can you provide a little more detail?

[2015-11-05 22:51] #55 closed

[2015-11-09 10:25] purplefox commented on #52
PR here https://github.com/vert-x3/vertx-mongo-client/pull/57

[2015-11-09 11:06] #52 closed

[2015-11-25 11:57] BorisBorshevsky opened #58 "support for mongo insertMany()"

[2015-12-08 15:46] thiagogcm opened #59 "Update to 3.2"
update to latest mongo-java-driver

see
https://github.com/mongodb/mongo-java-driver/releases/tag/r3.2.0

[2015-12-10 10:53] #37 closed

[2015-12-10 10:53] #46 closed

[2015-12-10 10:53] #47 closed

[2015-12-10 10:53] #59 closed

[2015-12-11 09:06] cescoffier commented on #2
Shifting again.

[2015-12-11 09:07] cescoffier commented on #1
Postponed to 3.3.0

[2015-12-11 09:07] cescoffier commented on #39
Postponed to 3.3.0

[2015-12-17 00:33] meshuga opened #60 "Make use of internal Vert.x EventLoopGroup"
Mongo client can make use of Netty event loop group for async request processing, so it might be possible to pass a vert.x group instance using `io.vertx.core.Vertx#nettyEventLoopGroup()` to https://github.com/mongodb/mongo-java-driver/blob/master/driver-async/src/main/com/mongodb/async/client/MongoClientSettings.java#L272 like below:

[code]
According to http://normanmaurer.me/presentations/2014-

[2015-12-17 09:04] karianna commented on #60
@johnoliver going to have to defer to your wisdom here.  Good idea or no?

[2015-12-22 20:21] meshuga commented on #39
Today I discovered this side effect in my code during insert operation. I don't consider it as a bug and some people might use it as a feature, so copying the document might break compatibility. I've made a PR with updated Javadoc to inform other developers about this "feature" - https://github.com/vert-x3/vertx-mongo-client/pull/61

[2016-01-19 05:04] lukehutch opened #62 "Markdown conversion in vertx-mongo-client docs is broken"
Markdown conversion for [http://vertx.io/docs/vertx-mongo-client/java/](http://vertx.io/docs/vertx-mongo-client/java/) somehow gets broken halfway through, and doesn't recover.

[2016-01-20 13:42] karianna commented on #62
Need to figure out if this something we fix in this project or elsewhere...

[2016-01-20 13:46] cescoffier commented on #62
Oh sorry, I've already fixed it.
It will be redeploy with the 3.2.1 release.

[2016-01-20 13:46] #62 closed

[2016-01-21 19:56] remi128 opened #64 "Exeption in MongoClient.update"
When i am trying to update a document into Mongo by using the method MongoClient.update( ... ) i am getting an Exception like:

 java.lang.IllegalArgumentException: Invalid BSON field name intValue
	at org.bson.AbstractBsonWriter.writeName(AbstractBsonWriter.java:494)
	at io.vertx.ext.mongo.impl.codec.json.AbstractJsonCodec.lambda$writeDocument$1(AbstractJsonCodec.java:254)
	at io.vertx.ext.mongo.

[2016-01-22 10:22] pmlopes commented on #64
@remi128 can you share the line of code you're executing? it might help to troubleshoot the issue

[2016-01-22 16:50] remi128 commented on #64
@pmlopes I'll prepare something and come back with it next week

[2016-01-23 14:29] diabolicallabs commented on #64
I'm guessing that you didn't "$set" the field to update in your document. On an update you have to do something like this:

JsonObject updateDoc = new JsonObject().put("$set", new JsonObject().put("intValue", 13))

mongoclient.update(query, updateDoc, ....

A save doesn't require this.

[2016-01-25 09:25] remi128 commented on #64
yes, that was it

[2016-01-25 09:25] #64 closed

[2016-02-09 12:08] BorisBorshevsky opened #65 "Add support for ISO time objects"
Add support for ISO time objects for enabling TTL indexing

[2016-02-09 12:13] karianna commented on #65
@BorisBorshevsky is that a feature supported by the Java Mongo driver?

[2016-02-22 10:23] cescoffier opened #66 "Update async driver version"

[2016-02-22 10:24] #66 closed

[2016-03-02 15:33] lujop commented on #31
In the meantime it will be good to have a way to retrieve driver MongoClient object, at least expose it in MongoclientImpl.

[2016-03-12 16:09] sidney3172 opened #70 "Update doesn't work with ObjectId"
Hi Team!
option userObjectId is true.
we have document with id : `ObjectId("56e417abab85b51b8b9743ce").`
in case we are trying to find it - it works fine:
`mongo.find(collection, new JsonObject().put("_id" : "56e417abab85b51b8b9743ce"), null, handler).`
`mongo.save`\- works as well,
but update is not wrapping objectId string into `$oid`, and as a result performing empty update.
Fixed by adding man

[2016-03-13 16:33] karianna commented on #70
@johnoliver Q?

[2016-03-18 16:48] wdroidn7 opened #71 "Need MongoDB Client to support ReadPreference at the Operation level."
MongoDB supports the WriteConcern and ReadPreference at the DB, Collection, and Operation level.
The setting at the operation level overwrites the setting at the Collection level which overwrites the setting at the DB level.

The current Vertx MongoDB Client supports the WriteConcern at the DB, Collection and Operation level.

For Write operation, one can use the *WithOption() methods to specify t

[2016-03-22 07:56] MazizEsa commented on #51
Hi all. Will take a shot on this issue. Will try to implement the TimeStamp.

[2016-03-24 08:30] #51 closed

[2016-03-26 13:49] MazizEsa commented on #2
Any one is working on this?

[2016-03-29 08:04] karianna commented on #2
@MazizEsa Nope, please go for it!

[2016-03-30 12:28] MazizEsa commented on #2
Will give ticket a try.

[2016-03-30 15:01] MazizEsa commented on #2
@karianna

https://github.com/vert-x3/vertx-mongo-client/blob/master/vertx-mongo-client/src/main/java/io/vertx/ext/mongo/impl/MongoClientImpl.java#L153

I notice inserts return id field (https://github.com/vert-x3/vertx-mongo-client/blob/master/vertx-mongo-client/src/main/java/io/vertx/ext/mongo/impl/MongoClientImpl.java#L126). But according to https://docs.mongodb.org/manual/reference/method/db.c

[2016-03-30 15:06] karianna commented on #2
I assume people use it for a follow up query or as 'proof' that the insert succeeded

[2016-03-30 15:13] MazizEsa commented on #2
If that's the case we can just return WriteResults(BulkWriteResult) instead. Which brings me the next question as to why mongo-driver (https://github.com/mongodb/mongo-java-driver/blob/master/driver-async/src/main/com/mongodb/async/client/MongoCollectionImpl.java#L318) return null on its callback. Any idea?

[2016-03-30 16:00] karianna commented on #2
Not sure on that one sorry - I'd also check with @johnoliver as well

Cheers,
Martijn

On 30 March 2016 at 16:13, Maziz <notifications@github.com> wrote:

[2016-04-03 00:33] MazizEsa commented on #2
Will put this on hold. Will inquire the vertx group.

[2016-04-03 19:27] jyemin commented on #2
The callback type for the insert methods is SingleResultCallback<Void> so the only thing they can return is null.  The type is Void because there is no useful information to return in reply to a successful insert.

That said, it may prove to be a mistake an have been better to return an InsertResult (with no properties) as a placeholder for any future metadata that may be returned.  You may want t

[2016-04-04 01:00] MazizEsa commented on #2
@jyemin. Sorry for my vague question. What I wanted to ask was why the callback type is SingleResultCallback<Void>? From the documents (https://docs.mongodb.org/manual/reference/method/db.collection.insert/#db.collection.insert), insert would return either WriteResult or BulkResult which contains the write concern stuffs. Seeing other operations(Update, replace and delete) it will return SingleRes

[2016-04-04 01:38] diabolicallabs commented on #70
Sergey,

Would you be able to provide your update code snippet?

I wrote some of the code for useObjectId and will gladly have a look at it.

If memory serves me correctly, I think that you will have to use $oid for anything other than _id on an update. I don't think there is a way for the mongo client to know what you intend for any other attribute.  Since there is no schema, the type can't be in

[2016-04-04 13:33] jyemin commented on #2
@MazizEsa :  If you look at UpdateResult and BulkWriteResult, none of their properties really apply to an insert in a way that would be useful for insertOne or insertMany.  If the insert method returns normally, the number if documents inserted is 1 for insertOne and the size of the document list for insertMany.  If the insert method returns abnormally by throwing an exception, the exception will

[2016-04-05 05:49] MazizEsa commented on #2
@jyemin thanks. Understood.

[2016-04-09 04:05] MazizEsa commented on #2
Still working on this thing.

@karianna Im planning to go fourth and make another method in the MongoClient interface with (Update, replace and etc.) with AsyncResult type to respective operation results (UpdateResult, DeleteResult etc.) Am I missing anything that may render this direction pointless or is there any other way that wouldn't have to make any changes on the interface?

[2016-04-11 08:57] karianna commented on #2
@MazizEsa - that seems like a valid approach.  @johnoliver - any comments?

[2016-04-14 13:16] MazizEsa commented on #2
Proceed with the implementation.

[2016-04-14 15:48] MazizEsa commented on #2
@karianna since Iill be modifying the interface that's also be used for other language shims generation, there are some limitation as to the data type that can be used with the AsyncResult (https://github.com/vert-x3/vertx-codegen#permitted-types).

Since the affected methods are update, replace and remove, I would propose the following:

1. Update and replace will return update result, therefore,

[2016-04-14 16:47] johnoliver commented on #2
I am not sure why you need to add any methods to MongoClient. Did you mean MongoCollection? If so can you say what methods you want to add?

I have not looked closely at this recently so may not appreciate all the corner cases here, but in general it seems to me that we should simply convert the WriteResult/BulkWriteResult to some JsonObject or better yet a proper domain class representation that

[2016-04-14 16:59] jyemin commented on #2
It's not that nothing on the WriteResult is useful, it's that (currently) nothing on the WriteResult applies to an insert (an upsert is considered a type of update, not an insert).

[2016-04-14 17:29] johnoliver commented on #2
Ahh, yes you are right, specifically for insert, there is nothing that cannot be inferred from the other data. I would still probably return some useful data if we are going to do it for the others though just to be consistent

[2016-04-14 23:07] MazizEsa commented on #2
@johnoliver Im thinking something like for instance update and updateWithOptions, I will add another updateWithResult and updateWithOptionsWithResult and deprecated the older two.

[2016-04-21 03:02] MazizEsa commented on #2
@jyemin quick one. When you call get("_id") (https://github.com/mongodb/mongo-java-driver/blob/master/driver-core/src/main/com/mongodb/connection/WriteCommandResultHelper.java#L98) do you get BSONArray or a single BsonNumber or it could be anything?

[2016-04-21 13:47] jyemin commented on #2
It can be an instance of any BsonValue subclass.

[2016-04-21 23:59] MazizEsa commented on #2
@jyemin don't you have any specified contract as what mongo will return in this case for upsert id? I could go on handling all the cases but it's a tad overboard.

[2016-04-22 01:05] jyemin commented on #2
If the MongoDB server generates the _id, then it will always be an ObjectId.  But more typically, the user will be choosing the _id value in the client application, and it may or may not be an ObjectId.  Consider the following snippet:

`
    UpdateResult updateResult = mongoCollection.updateOne(
                Filters.eq("_id", 1),
                Updates.inc("x", 1),
                new UpdateO

[2016-04-22 01:33] MazizEsa commented on #2
@jyemin i see. So can I use this https://docs.mongodb.org/manual/indexes/#indexes as a guide?

[2016-04-22 08:04] MazizEsa commented on #1
Will give a try on this one as well.

[2016-04-25 07:54] MazizEsa commented on #1
@cescoffier @karianna any suggestion on the best way to run test with the ssl enabled? It seems embed.mongo will always download mongo without ssl enabled both on linux and mac os.

[2016-04-25 08:10] MazizEsa commented on #1
@cescoffier @karianna any suggestion on the best way to run test with the ssl enabled? It seems embed.mongo will always download mongo without ssl enabled both on linux and mac os.

[2016-04-25 11:56] karianna commented on #1
@johnoliver got around this for us locally (I think he had to build his own
SSL'd mongo) - John?

Cheers,
Martijn

On 25 April 2016 at 09:10, Maziz <notifications@github.com> wrote:

[2016-04-25 13:21] jyemin commented on #2
@MazizEsa Can you elaborate?  I'm not clear how that link is relevant to our discussion.

[2016-04-25 14:04] MazizEsa commented on #2
@jyemin I was wondering if that document can be used as a reference point to determine the possible values (range) that can be set to the _id.

[2016-04-25 14:06] jyemin commented on #2
_Any_ BSON value (even including null) can be used for the _id of a document.

[2016-04-25 14:09] MazizEsa commented on #2
@jyemin understood. Appreciate your input.

[2016-05-03 08:53] turgaykaraburk opened #79 "Need findBatch method to support operation end handler"
Problem is, that interface MongoClient provides method findBatch with handler executed for every document. But how do we know, that all documents have been processed. Mongodb async driver support end handler . but this information lost in findBatch method.

SingleResultCallback<Void> callbackWhenFinished = (result, throwable) -> {

[code]

[2016-05-03 09:42] MazizEsa commented on #1
@johnoliver you inputs would be much appreciated.

[2016-05-10 07:03] joseaio commented on #2
Please, anyone can confirm if this feature must be in vertx 3.3.0 version?

[2016-05-10 07:07] karianna commented on #2
@joseaio We're not sure yet sorry.

[2016-05-23 09:54] karianna commented on #2
Closed via #78 - thanks @MazizEsa

[2016-05-23 09:54] #2 closed

[2016-05-25 20:56] etourdot commented on #79
Right,
I propose those changes in findBatchWithOptions method:
[code]
Client call will be like this:
[code]

[2016-05-25 21:36] karianna commented on #79
Pull Request welcome!

[2016-05-30 06:44] turgaykaraburk opened #82 "support for mongo findOneAndUpdate"
This operation is important for Auto increment Sequence generation

[2016-06-17 11:30] thinktkj opened #83 "i can't find gridfs support"
i can't find gridfs support

[2016-07-10 20:45] karianna commented on #83
@thinktkj - Can you elaborate a bit further as to what functionality in the driver you're expecting to be exposed?

[2016-07-11 03:06] thinktkj commented on #83
MongoClientImpl.java  && MongoClient.java

add one method like this:

`@Override
	public io.vertx.ext.mongo.MongoClient findGridFsBuffer(String collection, ObjectId objectId, AsyncOutputStream outputStream, Handler<AsyncResult<Long>> resultHandler) {
		requireNonNull(collection, "collection cannot be null");
		requireNonNull(resultHandler, "resultHandler cannot be null");

		GridFSBucket gridFSBuc

[2016-07-11 13:05] karianna commented on #83
@thinktkj - Thanks - I've set this to Pull Requests welcome (we're tackling a few other things at present) :-)

[2016-07-14 18:58] karianna opened #85 "Performance concerns of Async"
OP: http://stackoverflow.com/questions/38303739/mongodb-java-driver-sync-async

OP2:

as an example, I have taken the vertx-examples project and specifically this verticle : https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/mongo/Server.java

I have tried to implement another Server.java with mongo sync driver :

[code]

When I play some benchmar

[2016-07-14 18:59] karianna commented on #85
@johnoliver whilst we are hammering jClarity's infra anyhow - let's take a look at this as part of that

[2016-08-04 10:52] llfbandit commented on #82
Wrap findOneAndUpdate, findOneAndReplace and findOneAndDelete with corresponding "WithOptions" alternatives.
This is mostly the same code for those three mongo calls, can you rename the issue to reflect this PR?

[2016-08-04 13:28] llfbandit commented on #45
Queries are now wrapped, so all queries should be independent of using the useObjectId property or not,
I've added decoding on find method to reflect the insert method.
**All is still compatible with previous versions except the decoding as we now always unwrap the _id field.**
Small performance improvements to encode / decode methods.

[2016-08-04 13:52] llfbandit commented on #70
See #45, it should fix this.

[2016-08-04 14:39] karianna commented on #45
I'll let @johnoliver close this if he's happy with the PR, We'll have to note the decoding as a potentially breaking change, but that's OK as the 3.4.0 release train will have a section for that.

[2016-08-04 14:59] llfbandit commented on #60
Seems a good idea to me (with all my noobishness knowledge in vertx :8ball: ), the job has been already done in other sections by the way to be more concrete.
This commit is a partial view of some of the places where we can find the attachement to the netty looper : https://github.com/eclipse/vert.x/pull/1158/commits/a595010b0204a5e6a1bdb892c0b09ba8bd6e1fa7

[2016-08-16 18:18] kennedyoliveira opened #91 "Save object with _id null should generate one automatically?"
Hello,

i'm trying vertx for a real project, and it's my first time using mongo db, so maybe i'm asking something noob, but anyway, i'm currently using java in my project, in a save, i first convert the request to a pojo, do some validations on the pojo, and if everything is OK i then save it with mongoClient.save, the problem is, my pojo has a field `_id` that 'll be the mongo id, but since it's

[2016-08-17 03:33] karianna commented on #91
Are you using the async driver?

[2016-08-17 04:53] kennedyoliveira commented on #91
@karianna I'm using the one is available, vertx Mongo client with Async callbacks, I guess yes, theres another one or something?

The piece of code I got from the source of vertx mongo client

[2016-08-17 13:20] karianna commented on #91
So I think the behaviour is as intended, if you do not specify `ID_FIELD` and/or `document.getValue(ID_FIELD);` returns null then the Vertx Mongo client inserts the document and gets the generated ID back from MongoDB itself:

[code]

[2016-08-17 13:24] kennedyoliveira commented on #91
@karianna, thx for your feedback, but i guess you didn't understand what i was asking, i know what you said, the problem is, if the JsonObject i'm saving HAS a ID_FIELD with NULL, then it send the _id as null to mongo and the id doesn't get generated automatically, because the code just try to get the value, doesn't check if the property exists or not.

My english is bad, i hope you can understand

[2016-08-17 13:37] karianna commented on #91
I think I understand now... The Mongo Java Driver doesn't specify what the behaviour is, so digging deeper, OK from the Mongo Docs directly:

So the _as designed_ behaviour is that you're allowed to have one document inserted with a id value set to null.

Perhaps we could log this as a warning, but if we are being strictly supportive of the spec, we should allow it.

[2016-08-17 14:13] kennedyoliveira commented on #91
@karianna thanks for the information, so i guess i'm gonna do it in application side then. Thanks for your time! =)

[2016-08-17 14:13] #91 closed

[2016-10-24 20:14] kuffel opened #94 "QueryBuilder missing"
You can build queries in Json and use them in e.g.:

   JsonObject query = new JsonObject("{\"$and\": [ " +
                " {\"points\": {\"$gt\": 30}}, " +
                " {\"points\": {\"$lt\": 60}} " +
                "]}");
    mongoClient.find("books",` query, res -> { ... })

This works fine. I cant find the QueryBuilder class mentioned here:
https://groups.google.com/forum/#!topic/vertx

[2016-11-03 12:55] mguillet commented on #94
Are you talking about these ?
http://mongodb.github.io/mongo-java-driver/3.3/builders/filters/

[2016-11-03 13:50] kuffel commented on #94
@mguillet Thanks. This snippet does the trick:

Bson b = Filters.and(Filters.gt("calls", 30),Filters.lt("calls", 60));
BsonDocument bsonDocument = b.toBsonDocument(BsonDocument.class, com.mongodb.MongoClient.getDefaultCodecRegistry() );
JsonObject query = new JsonObject(bsonDocument.toJson());
mongoClient.find("books",` query, res -> { ... })

[2016-11-03 13:52] mguillet commented on #94
Yeah it's a bit ugly I guess, but I'm sure some nice helper classes can make it better...

I usually build all my query with JsonObject but I'm going to have a closer look at these filters!

[2016-11-08 01:34] MazizEsa commented on #1
Sorry got my hands full currently. Will try to allocate time for this.

[2016-11-16 15:57] #94 closed

[2016-11-16 15:58] #85 closed

[2016-11-16 15:59] karianna commented on #85
This is really about the underlying driver as opposed to an issue with vertx-mongo-client

[2016-11-16 16:00] #45 closed

[2016-11-16 16:00] #70 closed

[2016-11-16 16:03] karianna commented on #79
#81 fixes this.

[2016-11-16 16:03] #79 closed

[2016-11-16 16:11] karianna commented on #65
This is in theory supported right now, but not through a nice domain object / API call. So pull requests welcome to back onto http://api.mongodb.com/java/current/ (IndexOptions)

[2016-11-16 16:39] karianna commented on #39
We still believe it is a bug as this won't work correctly over the event bus.  That said we will need to carefully note that a fix will be breaking backwards compatibility.

[2016-12-03 11:56] MostafaEbrahimi opened #96 "handle projection and paging"
How to handle projection and paging in find ?[Like mongodb client(official) find(searchQ , projectionQ)]

[2016-12-03 12:52] MostafaEbrahimi commented on #96
these features handled in findOptions :) Thanks 👍

[2016-12-03 12:52] #96 closed

[2016-12-17 21:08] DieterDePaepe opened #97 "useObjectId == false, but upserts generate ObjectId"
The following code still generates an ObjectId for newly added elements, rather than the expected string id. I tried tracing the problem, but lost my way in the callback structures in the libraries.

[code]

[code]

Using version 3.3.3.

[2016-12-19 10:31] karianna commented on #97
@johnoliver This works as intended?

[2016-12-24 00:09] diabolicallabs commented on #83
I'm working on this in https://github.com/diabolicallabs/vertx-mongo-client Hope to have something working properly by 8 Jan 2017.

[2017-01-26 11:25] karianna opened #101 "Update mongo driver to 3.4.1"
Issue for PR #100

[2017-01-26 11:25] #101 closed

[2017-03-15 01:39] yh3434 commented on #97
Hello,I also encountered this problem。Any idea on how to resolve this problem?

[2017-03-24 16:13] vietj commented on #83
@diabolicallabs any news about this contribution ?

[2017-03-24 17:32] diabolicallabs commented on #83
Hi Julien,
The code is done and tested. Only the docs are left.  I'll finish that in
the next days.

Are you going to Summit?

On Fri, Mar 24, 2017, 12:13 PM Julien Viet <notifications@github.com> wrote:

[2017-03-24 21:00] vietj commented on #83
great!

unfortunately my proposal has been refused... so not going!

[2017-04-14 14:32] diabolicallabs commented on #83
Still working on this. Whilst doing the documentation I realized that up/downloading of buffers could be simplified. So, I'm making that change and testing.

[2017-04-14 16:05] vietj commented on #83
good to know it's in progress, perhaps it oculd make it to 3.4.2 ?

[2017-04-14 18:37] diabolicallabs commented on #83
Yes. That is the goal.

[2017-04-16 13:55] leotu opened #103 "Please add support $numberLong"
Ref:
https://docs.mongodb.com/manual/reference/mongodb-extended-json/#numberlong
http://mongodb.github.io/mongo-java-driver/3.4/upgrading/

JsonObjectCodec.java  still not support "$numberLong",
when document is
[code]
That write to MongoDB, it throws java.lang.IllegalArgumentException: Invalid BSON field name $numberLong

But  if I change to
[code]
That would be stored as BsonType.INT32 not the B

[2017-05-04 22:12] jgeth opened #104 "useObjectId produces inconsistent results with find() and findOne()"
Changed behavior since 3.4.0

When returning results via `find()` pre-3.4 the `ObjectId` is encoded in the list of JsonObjects. As of 3.4 this is decoded (see line 254: `results.forEach(this::decodeKeyWhenUseObjectId);`)

`JsonObject` returned via `findOne()` has consistently returned `ObjectId` encoded.

This could be on purpose or oversight, but I for one would prefer consistent default behavior

[2017-05-04 22:17] karianna commented on #104
Hmmm, will need to see where this change was introduced/

[2017-05-04 22:22] jgeth commented on #104
https://github.com/vert-x3/vertx-mongo-client/commit/ee0edff7771de78de830f275bfc40a63d1d14efe

[2017-05-05 08:32] karianna commented on #104
@jgeth I agree it should be consistent, so I think that we should change `findOne()` so that it also decodes
@johnoliver FYI - We accepted that PR deliberately but didn't list it as a breaking change (my bad).

[2017-05-05 23:15] munsuri commented on #1
I hit the same issue with **vertx-mongo-client:3.4.1** while trying to use [MongoDB Atlas](https://www.mongodb.com/cloud/atlas).

`java.lang.UnsupportedOperationException: No SSL support in java.nio.channels.AsynchronousSocketChannel. For SSL support use com.mongodb.connection.netty.NettyStreamFactoryFactory
2017-05-05T22:44:26.040505+00:00 app[web.1]: 	at com.mongodb.connection.AsynchronousSocket

[2017-05-17 01:27] diabolicallabs commented on #83
Finishing the last examples of Gridfs. Will complete PR by EOD May 16 Hawai`i time.

[2017-05-17 07:49] vietj commented on #83
nice, expect a review, it shall be in 3.4.2 hopefully

[2017-06-14 21:35] diabolicallabs commented on #104
I'm working on this as it's impacting my other project. Changing findOne to decode.

[2017-06-20 01:23] diabolicallabs commented on #104
Just submitted PR for this

[2017-06-30 16:44] tanw opened #108 "Update mongodb driver to 3.6.0"
I am using the vertx 3.4.1 which also depends on mongodb driver 3.4.1. I ran into an issue that was reported in https://jira.mongodb.org/browse/JAVA-2421
I need to update my app's pom to use the mongo driver 3.4.2. Can the next Vertx release be updated to use mongo driver 3.4.2?

[2017-07-05 15:53] fedorchuck opened #109 "BUG: java.lang.NoSuchMethodError: org.bson.types.ObjectId.toHexString()Ljava/lang/String;"
[code]
On the line:
[code]

[2017-07-05 15:54] fedorchuck commented on #109
and here https://github.com/vert-x3/vertx-examples/issues/209

[2017-07-05 18:53] fedorchuck commented on #109
Sorry, it's my fault. If you have dependency `org.mongodb:mongo-java-driver:2.10.1`, you get this error.

[2017-07-05 18:53] #109 closed

[2017-07-06 03:37] diabolicallabs opened #110 "findBatch doesn't work with RX API"
The findBatch operation calls the result handler multiple times with each document in a batch. When finished, it sends a null object. This doesn't work with the RX API as it generates code that returns a Single since the result handler only mentions one document. So all we ever get is the first document instead of an observable stream of documents.

Perhaps a batch read stream should be created in

[2017-07-10 11:22] ambye85 opened #111 "findOne NPE"
`mongoClient.findOne("books", query, null, res -> {...});` results in NPE. The [docs](https://github.com/vert-x3/vertx-mongo-client/blob/master/vertx-mongo-client/src/main/asciidoc/java/index.adoc#finding-documents) say `findOne` is just like `find`, yet `find()` doesn't have a `fields` parameter. The docs also say in relation to `FindOptions`:

Granted, the `fields` parameter is not a `FindOption

[2017-08-11 01:20] gillbates opened #112 "vertx-mongo: Max number of operations (maxWaitQueueSize) of 500 has been exceeded."
Hi all,

during the development with mongo and vertx, we happened to meet a problem by failed setting the value of maxWaitQueueSize.
i.e, it seemed the vertx-mongo hasnot utilize the pooling for the connections to mongo, which is implemented in the official mongo java driver.

[code]
Using the following code with mongo default setup, the vertx-mongo will throw

[code]
we've attached a sample code

[2017-08-11 11:49] karianna commented on #112
Fixed by #113 - Thanks @johnoliver

@gillbates 3.5.0 won't be released for sometime but you can compile from source and get the patched binary

[2017-08-11 11:49] #112 closed

[2017-08-11 14:16] gillbates commented on #112
Actually I think the implementation of our pool is somehow buggy maybe? Otherwise, we don't have to change this value as we use the original mongo driver?

[2017-08-27 14:29] DieterDePaepe opened #114 "MongoClient stores IDs as string"
Mongoclient stores the `_id` field as a string rather than an `ObjectId` when `useObjectId == false` (default value).

This behavior was introduced in the [pull request](https://github.com/vert-x3/vertx-mongo-client/pull/38/commits/086323866d0acec50e90d84ee94aa5f15a82fd84) for issue #36. See `JsonObjectCodec#generateIdIfAbsentFromDocument`.

The main issue caused by this is that not all commands (

[2017-09-08 14:41] leolux commented on #1
How to configure vertx-mongo-client to add **streamType=netty** to the ConnectionString?

[2017-09-14 12:30] slnowak opened #115 "ReadConcernLevel is ignored completely"
According to MongoDB docs and ConnectionString class from `org.mongodb:mongodb-driver-core` (https://github.com/mongodb/mongo-java-driver/blob/master/driver-core/src/main/com/mongodb/ConnectionString.java) one should be able to set `readconcernlevel` property with possible values: `local/majority/linearizable`.

However, it seems like vertx-mongo-client completely ignores this settings.
We're usin

[2017-09-25 01:05] nitinlodhe opened #116 "Vert.x create connection to bucket and Gridfs in mongo"
Hi Team,
I have an app created in Vert.x where in I need to connect to a bucket to do CRUD operations and at the same time I need to connect to GridFs as well to store bulk docs.
I want to understand how can I open connection to bucket and GridFs both while starting my verticle.

I see this method to create GridFs connection:  GridFSBuckets.create(MongoDatabase database) [com.mongodb.async.client.

[2017-09-25 11:59] karianna commented on #116
see https://github.com/vert-x3/vertx-mongo-client/pull/105 and https://github.com/vert-x3/vertx-mongo-client/issues/83

[2017-09-25 11:59] #116 closed

[2017-10-30 01:50] luxiaoxun opened #117 "How to load large data from mongo to vertx with pagination"
Hi all
I need to load millions of data into memory for analysis. How to do this with vertx-mongo-client?
Now I am using following code, this code seems has issues (while loop).
Is there better way to do this? Thanks in advance.
[code]

[2017-10-30 10:10] karianna commented on #117
@luxiaoxun What issues are you experiencing?

[2017-10-31 04:20] luxiaoxun commented on #117
@karianna
Actually this code works, except in the while loop, there will be multiple queries send to mongo (almost at the same time), since we don't need to wait for the return (handled async). So there will be multiple connections to mongo at this time. For example, if we need to load 5 millions  data, 50000 each page, need 100 connections to mongo to get the data at this time.
Do we have better

[2017-10-31 08:03] luxiaoxun commented on #117
At first I want do some thing like this, But this get into call back hell:

[code]

[2017-10-31 20:24] karianna commented on #117
@johnoliver There's a bulk option that's usable right?

[2017-11-03 02:17] luxiaoxun commented on #117
Now I find another way to do this. Maybe not the best but works.

[code]

[2017-11-03 02:17] #117 closed

[2017-11-12 11:04] leotu opened #118 "MongoDB Async Driver version 3.5 new features ready support POJOs"
What is the best practice to bring those two classes integrated into MongoClient
[code]

inside Vertx code ?
[code]

Ref Docs.
http://mongodb.github.io/mongo-java-driver/3.5/whats-new/
http://mongodb.github.io/mongo-java-driver/3.5/driver-async/getting-started/quick-start-pojo/
http://rosslawley.co.uk/mongodb-pojo-support/

[2017-11-19 18:13] Houdini opened #119 "java.lang.IllegalArgumentException: clusterListener can not be null"
config:
[code]
kotlin code:
[code]

stacktrace:
[code]

[2017-11-20 00:49] aaloise commented on #108
Since version 3.6 of mongo driver is somehow about to be released, isn't it better to wait for it?

[2017-11-24 21:46] #50 closed

[2017-12-05 18:00] aaloise commented on #108
MongoDB Java Async Driver v3.6 released

http://mongodb.github.io/mongo-java-driver/3.6/driver-async/getting-started/installation/

[2017-12-05 19:53] vietj commented on #108
@karianna is that an upgrade we can have for 3.5.1 ?

[2017-12-05 22:19] karianna commented on #118
We'd need to upgrade to the 3.5.0 driver.  There's a request to go to 3.6.0, but a change between rc0 and rc1 there has broken... something. see  #108

[2017-12-05 22:20] karianna commented on #108
Hmmm, maybe - 3.5.0 is fine, even 3.6.0-rc0 is fine, 3.6.0-rc1 breaks codec detection.  Still debugging.

[2017-12-08 12:24] cescoffier opened #123 "Mark the @Nullable parameters in MongoClient"
The `MongoClient` interface does not mark any value with `@Nullable`. Unfortunately, it messes a bit the RX Java 2 generation as we can have `Single` object conveying `null` values.

For instance `findOne`.

[2017-12-10 20:43] leolux opened #124 "result handler does not get invoked for find()"
When trying to find a collection by a name which does not yet exist in the database, the result handler for the method find() does not get invoked:

[code]

When the resultHandler does not get invoked I am not able to tell if the read operation has finished.
Has anyone faced the same issue?

I am using version 3.4.2.

[2017-12-10 21:12] leolux opened #125 "What does bulkWrite() do when some writes fail?"
Let's assume we want to replace 10 documents using bulkWrite(). What to expect from the API when one of these documents cannot be replaced because the document-id cannot be found in the collection? Will the remaining documents be written anyway?

[2017-12-10 21:28] leolux commented on #124
Update: There is no issue with find().
Somhow the Intellij debugger used the wrong code base resulting in the breakpoint to not work properly. Sometimes IDEs play dirty tricks with human beings  :-)

[2017-12-10 21:28] #124 closed

[2017-12-10 21:47] karianna commented on #125
@leolux Have you tried this with the native Mongo Driver?

[2017-12-11 11:51] tsegismont commented on #117
@luxiaoxun That would work if the collection doesn't change while you are reading it. You should use `findBatch` as mentioned by @karianna for your use case.

[2017-12-12 11:31] bmenninga opened #126 "Using MongoDB Atlas in Vertx"
Has anyone tried to use MongoDB Atlas Database as a service (https://www.mongodb.com) with Vertx?

I've tried to connect but I keep getting the following error:
[code]

I used the following:
[code]

Than I tried to used their Java Mongo driver:
[code]

This works. Only this takes a big rewrite on all my queries. And I'm not sure if this is a good driver in combination with Vertx.

Does anyone know

[2017-12-12 16:16] tsegismont commented on #126
@bmenninga have you tried this? https://stackoverflow.com/a/47776719/2133695

If that works, we could simply update the documentation with instructions for Atlas.

[2017-12-12 20:34] leolux commented on #125
no, but the behaviour should be identically to the underlying driver.

[2017-12-12 20:34] #125 closed

[2017-12-12 20:52] leolux opened #127 "replace does not work for bulkWrite"
The following operation produces no matches and no replace:
[code]
Why does bulkWrite not replace the document although the "_id" provided in the filter is valid and exists in the collection?

I use `("useObjectId", true)` and `System.setProperty("org.mongodb.async.type", "netty");` and  the release version 3.4.2.

[2017-12-13 10:32] leolux commented on #127
There is already test method for this:
https://github.com/vert-x3/vertx-mongo-client/blob/db2be2203cc43adc81f9b004091074fb23858a52/vertx-mongo-client/src/test/java/io/vertx/ext/mongo/MongoClientTestBase.java#L1577

But the method is never invoked, when looking into the repository:
https://github.com/vert-x3/vertx-mongo-client/search?utf8=%E2%9C%93&q=testBulkOperation_replace&type=

What do you sug

[2017-12-13 13:43] bmenninga commented on #126
Yes, and it helped. I managed to get it working with the vertx-mongo-client!

I added to my Json config
`config.put("ssl", true);`

And I added the following line before creating the MongoClient.
`System.setProperty("org.mongodb.async.type", "netty");`

Thanks to you all!!

[2017-12-13 13:44] #126 closed

[2017-12-13 21:24] karianna commented on #127
@leolux I'm not sure what you mean there.  The test is:

[code]

Which contains a bulk operation 'replace' via the bulkWrite with bulkOperation passed in...

[2017-12-14 09:24] leolux commented on #127
Your are right. Junit-Tests are executed automatically by the test runner. But the method does not test the same scenario.

Therefore I have added another test method which filters for the "_id" instead of the "name" property:
[code]

The test result fails:
[code]
Should I create a pull request?

[2017-12-14 13:13] karianna commented on #127
@leolux Ah - yes please, much obliged :-)

[2017-12-15 21:30] leolux commented on #127
https://github.com/vert-x3/vertx-mongo-client/pull/128

[2017-12-18 08:31] luxiaoxun commented on #117
@tsegismont
Thanks for your reply, findBatch also works for me. I tested it with loading 1 millions data, seems faster than previous way with pagination.

[2017-12-19 14:49] lukjel commented on #103
+1
Any chance to make it available soon?

[2017-12-19 15:31] bmenninga opened #129 "rxInsert without .subscribe is not inserting the document"
I'm on 3.5 and trying to insert a document.

This does not add the document
`mongoClient.rxInsert("documents", document).doOnError(e -> ..... );`

This does add the document
`mongoClient.rxInsert("documents", document).doOnError(e -> ..... ).subscribe(results -> ..... );`

Is this a bug, or am I missing something?

I'll use the deprecated .insertObservable for now.

[2017-12-19 15:53] tsegismont commented on #129
This is not a bug. See http://vertx.io/docs/vertx-rx/java/#_async_result_support

[2017-12-19 15:53] #129 closed

[2017-12-19 16:38] karianna commented on #103
@lukjel We're hoping for a community contributed PR for this functionality :-)

[2017-12-20 15:59] #127 closed

[2017-12-20 16:29] #110 closed

[2017-12-20 16:42] karianna commented on #118
@johnoliver found this:

`https://github.com/vert-x3/vertx-mongo-client/blob/master/vertx-mongo-client/src/main/java/io/vertx/ext/mongo/impl/config/MongoClientOptionsParser.java#L41`

Where we set the codec registry.  Is this what you're looking for?

[2017-12-20 16:59] karianna commented on #114
@DieterDePaepe We've taken a look and agree that #97 is a bug and have put a help wanted label on that.  Hopefully a community contributor fixes it in the holiday break.  Please open more issues if you find that useObjectId is not being honoured elsewhere.

[2017-12-20 16:59] #114 closed

[2017-12-20 17:04] karianna commented on #111
@AshleyByeUK Can you give a more concrete code example where the NPE is thrown?

[2017-12-20 17:33] karianna commented on #118
FYI - Driver is updated to 3.6.0

[2017-12-20 17:33] karianna commented on #108
@johnoliver knows all the codecs.

[2017-12-20 17:38] karianna commented on #108
closed via #130

[2017-12-20 17:38] #108 closed

[2017-12-21 09:07] bmenninga commented on #129
Okay, thank you! That's new to me. So I've added .subscribe(); to get it working again.

[2017-12-21 11:05] #83 closed

[2017-12-21 20:51] johnoliver commented on #104
Think this was fixed by #107

[2017-12-21 21:42] karianna commented on #104
@jgeth I'm closing this for now - please reopen if 3.5.0 doesn't work for you!

[2017-12-21 21:42] #104 closed

[2017-12-21 23:40] johnoliver commented on #97
I have submitted a fix for this, although to be honest I actually view this as a bug in mongos driver. It seems inconsistent on their part that inserts call `JsonObjectCodec#generateIdIfAbsentFromDocument` if needed, however an upsert does not.

[2017-12-24 20:58] #123 closed

[2017-12-26 15:12] underscorenico opened #135 "Mapping a MongoDB document's _id with Vert.x"
I'm using Vert.x MongoDB client as well as Vert.x CodeGen (https://github.com/vert-x3/vertx-codegen).

This is an example of my document:

    @DataObject
    public class Instrument {

      public static final String DB_TABLE = "instruments";

      private String id;
      private String instrumentId;
      private String name;
    }

<br> Since the model of my document (or entity) is annotated

[2018-01-01 14:42] johnoliver commented on #135
You can use the constructor that takes a JsonObject and the toJson methods on the data object to define a custom mapping between json and your own fields.

[2018-01-03 11:17] #135 closed

[2018-01-03 11:18] karianna commented on #115
#136 is the PR for this.

[2018-01-04 14:05] #115 closed

[2018-01-17 20:30] codepitbull opened #137 "Missing @Nullable annotations in MongoService"
The MongoService lacks several @Nullable annotations which breaks the vertx-lang-scala build (params including @Nullable will be wrappend in scala.Options, those without won't).
I wanted to provide a PR but can't seem to fix it.

Here an example:

Method in MongoService:

`MongoService saveWithOptions(String collection, JsonObject document, WriteOption writeOption, Handler<AsyncResult<String>> res

[2018-01-18 07:54] codepitbull commented on #137
The issue is caused by a codegen problem.
This can be resolved as soon as the codegen issue has been resolved:
https://github.com/vert-x3/vertx-codegen/issues/153

[2018-01-26 09:24] vietj commented on #137
fixed by vert-x3/vertx-codegen#153

[2018-01-26 09:24] #137 closed

[2018-01-27 09:23] leolux opened #138 "Driver issue: ReadPreferenceServerSelector{readPreference"
Today I am getting an error which never happened before. Here is the complete error log from com.mongodb.connection.BaseCluster.createTimeoutException(BaseCluster.java:377):

`Failed to get list of all collections: Timed out after 30000 ms while waiting for a server that matches ReadPreferenceServerSelector{readPreference=primary}. Client view of cluster state is {type=UNKNOWN, servers=[{address=l

[2018-01-27 09:32] leolux commented on #138
I have found the issue: The server (mongod) has been shutdown somehow and was not running.

[2018-01-27 09:32] #138 closed

[2018-01-30 08:28] abhinavsri commented on #119
Same Issue when using vertx mongo client 3.5.0 .
I am also using mongodb driver 3.6.1

[2018-03-22 13:50] eciuca opened #141 "Unknown BsonType exception when trying to save java.time.Instant field"
[code]

[2018-03-28 01:34] gaol opened #142 "Determine and annotate mongo method that might return null so RxJava2 generates correct code"
RxJava 2 does not allow to emit `null`.

However, methods like:
* `Single<JsonObject> io.vertx.reactivex.ext.mongo.MongoClient.rxFindOne()`
* `Single<JsonObject> io.vertx.reactivex.ext.mongo.MongoClient.rxFindOneAndUpdate()`
* some other methods too
emit null if they don't find any document.

The return type as `Maybe<JsonObject>` should be more appropriate so that `MaybeObserver.onComplete()` met

[2018-03-28 06:03] vietj commented on #142
I've made this issue more general purpose

[2018-03-28 06:04] vietj commented on #142
@karianna is it an issue you can take care off ? it's not long but requires to know well the current API

[2018-03-28 18:18] karianna commented on #142
I'll take a look and John can make sure I don't do anything insane :-)

[2018-03-28 19:08] vietj commented on #142
thanks much appreciated

[2018-04-04 09:35] leolux opened #143 "java.lang.IllegalStateException when using future completer"
I cannot chain mongo operations with Futures because MongoClientImpl.java:758 somehow completes my future too early:

[code]
The exception looks like this:
[code]

I use version 3.5.1

[2018-04-05 11:40] tsegismont commented on #143
@leolux can you provide the client code snippet? I can't see anything wrong in what the MongoClient is doing here

[2018-04-05 17:31] leolux commented on #143
The snippet comes from vertx-mongo-client-3.5.1-sources.jar and is linked by the stackstrace:
'''
  private <T, R> SingleResultCallback<T> convertCallback(Handler<AsyncResult<R>> resultHandler,
Function<T, R> converter) {
    Context context = vertx.getOrCreateContext();
    return (result, error) -> {
      context.runOnContext(v -> {
        if (error != null) {
          resultHandler.handle(Fu

[2018-04-05 18:47] eriknyk commented on #135
@underscorenico you can do:
[code]
and
[code]

[2018-04-06 13:33] tsegismont commented on #143
@leolux I can see that. However I still fail to see how the Mongo Client is involved. In the snippets, the `updateFuture` is completed just once in the handler provided to the Mongo Client. I suspect it's completed elsewhere in your code. If I'm wrong, could you put together a small reproducer? Thanks

[2018-04-09 14:56] johnoliver commented on #119
I just ran into this, I found it was due to having an old version of org.mongodb:mongo-java-driver, check all your dependency versions to make sure everything has upgraded to mongo 3.6 and you dont have something lying around.

[2018-04-09 15:39] johnoliver opened #144 "Update fails to encode _id"
`updateCollectionWithOptions` uses `encodeKeyWhenUseObjectId` that assumes that the _id is at the top level of the JsonObject, if an update is of the form:

[code]

The _id is nested so it will fail to encode the _id and throw an exception.

It may seem odd to have _id in an update, but I have tested with the mongo command line client and it accepts _id in the update provided it does not change th

[2018-04-16 00:48] doctorpangloss opened #146 "id field issue in 3.6 (fixed in PR #145)"
Three tests currently fail after `vertx-mongo-client` started to get tested against 3.6. These are real exceptions due to a change in how the `id` field is dealt with in upserts, and it is fixed in https://github.com/vert-x3/vertx-mongo-client/pull/145 .

[2018-04-19 15:45] leolux commented on #143
Alright, issue is within my code. It is as tsegismont said. My loop was completing the future to early.

[2018-04-19 15:45] #143 closed

[2018-04-26 12:05] vietj commented on #146
oh great

[2018-04-26 18:29] vietj commented on #146
can you reference the fixes for 3.5.2 and mongo there https://github.com/vert-x3/issues/issues/352 ?

[2018-04-26 19:58] karianna commented on #146
Will do if this makes it on time - I'll check with @johnoliver tomorrow

[2018-05-01 14:05] hakdogan opened #147 "How can I be sure that the client connection is established?"
I've tried some methods for this but they didn't work. For example:
[code]

How can I catch this information and handle the MongoSocketOpenException?

[2018-05-02 14:18] johnoliver commented on #147
Long story short, there does not seem to be a good way to do this: https://stackoverflow.com/questions/40813060/how-to-catch-exception-when-creating-mongoclient-instance

Your method should work, or at least when I ran a find on a broken connection it eventually ran into a timeout after the default of 30 seconds. Did you wait 30 seconds for the result in this case? You can probably reduce this by

[2018-05-22 21:14] bckfnn opened #148 "Aggregate support in mongodb 3.6"
mongodb 3.6 removes the possibility to call aggregate command without specifying a cursor.

https://docs.mongodb.com/manual/release-notes/3.4-compatibility/index.html#deprecated-operations

so the old and well proven trick from

https://vertx.io/docs/vertx-mongo-client/java/#_running_other_mongodb_commands

no longer works. The returned "result" array no longer exists, but instead a cursor documen

[2018-05-31 15:59] max-grigoriev opened #149 "Exception on RxJava2 and Mongo batch"
Vertx version is 3.5.2.RC3
[code]

Give such error when no more records in the batch:

[code]

But if I change `toObservable` to `toFlowable` then everything is OK

[2018-05-31 16:43] karianna commented on #149
@johnoliver Bug or works as expected?

[2018-05-31 17:00] tsegismont commented on #149
@karianna this is a bug in `MongoIterableStream` which is over-defensive. Please assign the issue to me, I'll take care of the fix.

[2018-06-04 09:44] #149 closed

[2018-06-26 09:21] karianna commented on #118
@cleciusjm 3.5.0+

[2018-06-26 09:21] #118 closed

[2018-07-01 17:15] domenicoierullo commented on #148
Is there a trick to get around the problem?
I need help!

[2018-07-04 20:37] domenicoierullo commented on #148
No ideas! Sorry,

[2018-07-06 20:11] cazacugmihai opened #151 "mongodb driver 3.8.0"
MongoDB driver `3.8.0` has added support for transactions. Can the library be updated to support this version?

Thank you for your efforts in maintaining this!

[2018-07-10 15:08] u3r opened #153 "Concatenating rx-Queries with .ConcatWith() produces IllegalStateException: more produced than requested"
I encountered a bug when concatenating RX-ified Mongo queries:
**Expected behaviour:**
The result of two queries is concatenated without error (even if one or both are Observable.empty().

**Actual behaviour:**
`java.lang.IllegalStateException: more produced than requested` is thrown and the rx-chain runs until vertx times out.

There is a workaround I found by accident (also shown in PR#152): Add

[2018-07-12 17:23] cazacugmihai opened #154 "How to obtain generated IDs after rxBulkWrite"
Hi,

Is there a way to obtain the generated ids after using `rxBulkWrite` method?
I thought that the information will be stored in `MongoClientBulkWriteResult#upserts` but that field is empty, every time:

[code]

Thanks!

[2018-07-15 13:17] HendrikLanghammer commented on #97
This fix causes ans exception if upsert results in insert and _id from query is a JsonObject

java.lang.ClassCastException: io.vertx.core.json.JsonObject cannot be cast to java.lang.CharSequence
	at io.vertx.core.json.JsonObject.getString(JsonObject.java:111) ~[vertx-core-3.5.3.jar:3.5.3]
	at io.vertx.ext.mongo.impl.MongoClientImpl.generateIdIfNeeded(MongoClientImpl.java:224) ~[vertx-mongo-client-

[2018-07-24 15:20] leolux opened #155 "SSL does not work"
**Einvironment**
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode) with unlimited JCE policy
MongoDB server version: 3.4.8 with deactivated TLS1_0,TLS1_1
Vert.x 3.5.3

**Exceptions:**
[code]

**Config of vertx-mongo-client**
new JsonObject()
.put("username", "...")
.put("password", "...")
.put("authSource", ...)
.put("ssl", true)
.put("sslInvalidHostNameAllowed", true)
.put("streamT

[2018-08-20 22:55] StarWindMoonCloud opened #156 "is "$in" mongo operation supported?"
Hi there,

I'm trying out vertx, and wondering if "$in" mongo operation is supported for batch query?
No luck after reading through https://vertx.io/docs/vertx-mongo-client/java

Could you help out?

[2018-09-06 05:45] StarWindMoonCloud commented on #156
When will the release happen @karianna? can't wait to try out

[2018-09-06 12:18] johnoliver commented on #156
Terrible code but:

[code]

That seems to work for me

[2018-09-06 12:35] #156 closed

[2018-09-11 11:17] balazshc opened #157 "useObjectId is omitted in case of findOneAndUpdate()"
ObjectId is not decoded in the result as hex string, although `useObjectId` flag is set to true.
In version 3.5.3 (guess in earlier versions as well)

Similar problem was fixed with find() and findOne() (#104 ) earlier.

[2018-09-11 11:46] karianna commented on #157
Looks like we may have one more...

[2018-09-11 11:46] karianna commented on #157
#133

[2018-10-04 14:10] tsegismont commented on #153
Closed in 69c31bf

[2018-10-04 14:10] #153 closed

[2018-10-27 16:50] HassanZaki-VG opened #158 "will support mongodb 4.0 multi-document ACID transactions?"

[2018-10-31 12:28] HendrikLanghammer commented on #148
This is how I worked around the problem for now:

1.) add the cursor to your command using a batch size larger than your maximum number of results:

`JsonObject command = new JsonObject().put("aggregate", COLLECTION).put("cursor", new JsonObject().put("batchSize", 1000)).put("pipeline", pipeline);`

2.) find your results in the new location:

`JsonArray jsonArray = res.result().getJsonObject("curs

[2018-11-19 13:25] tsegismont opened #164 "Close client on verticle undeploy"
Usually, Vert.x clients/servers created inside a Verticle are closed when this verticle is undeployed.

It works for JDBC client, HTTP servers, Cassandra client, ... etc.

It should work for Mongo clients too.

[2018-11-19 14:44] vietj commented on #164
documented here http://www.julienviet.com/advanced-vertx-guide/#_close-hooks

[2018-12-04 10:15] payuprashantg commented on #148
What is the status of this enhancement?

[2018-12-04 13:10] karianna commented on #148
I think this is resolved and will land in 3.6.1

[2018-12-04 17:39] #148 closed

[2019-01-20 02:53] onupamit commented on #119
I had the same problem but when I upgraded org.mongodb:mongo-java-driver to 3.9.1 then problem had gone away.

[2019-01-21 09:41] dodalovic opened #167 "MongoDB rxFindWithOptions returns no results"
Hi, I'm trying to run natural language search. I have collection `tag`, and that collection has `text` field, with text index on it.

When I connect via shell, and run the query:

[code]
I get expected results back. When I do the same from the vert.x kotlin app:

[code]
I always get 0 results back for the same input  - "tag" string in this case.

Is there some obvious mistake I'm making?

p.s. `js

[2019-01-21 12:53] karianna commented on #167
@dodalovic What version of Vert.x and the Vert.x mongo driver are you using?

[2019-01-21 12:59] dodalovic commented on #167
@karianna implementation "io.vertx:vertx-mongo-client:3.6.2"`

[2019-01-22 15:04] johnoliver commented on #119
Think I will close this, can be re-opened if upgrading mongo-java-driver does not work for someone

[2019-01-22 15:04] #119 closed

[2019-01-25 09:12] OSI-Califronia opened #171 "[3.6.2] MongoIterableStream execute the EndHandler even there is a bunch of data remaining in the pending queue"
I changed the code inside to this so it works ...

#### MongoIterableStream ####
[code]

[2019-01-25 09:17] OSI-Califronia opened #172 "[3.6.2] MongoClientImpl findBatch does not transmit 'batchSize' param to FindIterable"
I changed to code to this
MongoClientImpl
[code]

[2019-01-25 20:33] karianna commented on #171
Hi there,

I'm not sure if you're reporting a bug or supplying a patch?

[2019-01-25 20:37] karianna commented on #172
Can you submit a proper PR for this?

[2019-01-28 07:42] OSI-Califronia commented on #171
I would say it's a bug, because the end handler you set on the readstream should only be invoked if all data of the stream has been consumed by the data handler first. Now its possible that this convetion could be broken. You can easily test this if you paus the readstream. But if you prefer a patch instead no problem.

[2019-01-28 08:50] vietj commented on #171
can you provide a reproducer @OSI-Califronia ?

[2019-01-29 06:14] naveenjeeri opened #173 "Mongo client blocking event loop in vertx"
We are using vertx mongo client in our application we are seeing lot of WARNINGS in our log with the following trace.

[code]
Is mongo client blocking main event loop, because we have zookeeper configured which expects response from main event loop for every 30 seconds,
The above error keeps on coming in our logs for every two seconds and application is getting out of zookeeper cluster. **As event

[2019-02-13 09:16] zocimek opened #174 "Add support for collation queries"
Hi,

In my project in some places I need to use collation in my queries but currently mongo client implementation does not support such options. Please add support to allow usage such queries:

db.some_collection.find().sort({field: -1}).collation({
   locale: <string>,
   caseLevel: <boolean>,
   caseFirst: <string>,
   strength: <int>,
   numericOrdering: <boolean>,
   alternate: <string>,
   ma

[2019-03-08 05:29] lukehutch opened #177 "vertx-mongo-client uses an old version of mongodb-driver-core"
The `mongodb-driver-core` embedded into `vertx-mongo-client` needs to be updated. `vertx-mongo-client` uses an old version of `mongodb-driver-core`, which means it is not possible to also use `mongo-java-driver` in the same project as `vertx-mongo-client`, due to an ABI clash.

[2019-03-08 05:33] lukehutch opened #178 "MongoClient.createShared() needs to accept a result handler"
`MongoClient.createShared()` does not take a `Handler` as a parameter, so it is not possible to react if MongoDB cannot be reached. (Ideally I would like my server to refuse to start if MongoDB is not running.)

[2019-03-08 07:14] vietj commented on #178
@lukehutch I think in this case you need to have your own lookup method that will create the client and execute a _ping_ query to try reaching the server. The mongo client does not have such _ping_ method so I think it's the application that should make its own checks.

[2019-03-08 07:14] #178 closed

[2019-03-08 08:01] lukehutch commented on #178
@vietj I tried this, hence #177. I don't see any way to issue a custom command with the result of `MongoClient.createShared()`, so I tried using the official MongoDB API, and there was a version conflict. How do I issue an arbitrary MongoDB command with Vertx' MongoClient?

[2019-03-08 20:31] karianna commented on #177
@lukehutch CAn you give us the details on the version numbers?

[2019-03-08 22:40] lukehutch commented on #177
Sorry, in both vertx version 3.6.3 and 4.0.0-SNAPSHOT, `vertx-mongo-client` pulls in `mongodb-driver-core` version 3.6.3. I don't know if that's an internal snapshot of `mongodb-driver-core`, using the vertx version number of 3.6.3, or if that's actually the `mongodb-driver-core` version number of 3.6.3. Or possibly the version number for vertx is accidentally being reused for the `mongodb-driver-

[2019-03-09 01:59] lukehutch commented on #178
@vietj I tried the following. Unfortunately `runCommand` never gets to run its command until the MongoDB server becomes available (which might be never), so there is no way to detect if the `MongoClient` creation was successful:

[code]

[2019-03-09 02:28] lukehutch commented on #178
PS the exception thrown when MongoDB is down is the following:

[code]

[2019-03-09 20:49] karianna commented on #177
Thanks, Closed via #179 and #180

[2019-03-09 20:49] #177 closed

[2019-03-17 03:54] mszmurlo opened #181 "Knowing if the client is connected"
Hi,

How to know that the client is connected on the server ? If the credentials are wrong, a `com.mongodb.MongoSecurityException` is thrown by the **mongodb driver** and it is not possible to catch it in the code. I'm aware of [this reply](https://github.com/vert-x3/vertx-mongo-client/issues/147) and some other on SO, yet the topic is really painful as once the client is created the only way to k

[2019-03-17 10:47] AlexeySoshin commented on #181
I think that like some DB clients this client should issue no-op check, like `SELECT 1` and "die" if no-op fails. Opinions?

[2019-04-01 15:45] bsa01 commented on #171
I can reproduce with following code in MongoClientTest (3.6 branch)
`
 @Test
  public void findBatchResumePause() throws Exception {
    int docs= 111;
    testFindBatch((latch, stream) -> {
      List<String> foos = new ArrayList<>();
      CountDownLatch handlerCallsAfterPause = new CountDownLatch(docs);
      stream.exceptionHandler(this::fail).endHandler(v -> {
        latch.countDown();

[2019-04-10 13:14] j040p3d20 opened #184 "different databases"
I was using a vertx web app to make some spark calculations and write the results to mongo. The request contains a cfg object specifying were to write the results. I was seeing that even though i was creating clients with different cfg ( same server but different databases, same collection name ) i was sometimes getting results on the wrong database. It seems MongoClient.createShared is either mis

[2019-04-11 10:22] karianna commented on #184
@j040p3d20 Can you provide an [SSCCE](http://sscce.org/)?

[2019-04-14 18:05] #103 closed

[2019-04-24 15:07] zyclonite commented on #1
with the mongo driver (3.10.1) used in release 3.7, ssl works even without the netty stream type

[2019-04-24 20:18] #1 closed

[2019-04-29 11:36] jo5ef opened #189 "`findOne` with invalid objectId hangs"
When an invalid mongo object id is passed in the `query` to `findOne`, an "invalid objectid" exception is thrown and logged internally but the calling code has no way of catching it. The exception is neither bubbled up nor passed to the handler as a failed result.

Expected: `findOne` should throw an exception or call the handler with a failed result in case of illegal arguments.

The following te

[2019-05-10 15:27] kostya05983 commented on #189
@karianna I tried to figured out what happened. In mongo-core we have this,and mongo just log error.
` @Override
    public void onResult(final T result, final Throwable t) {
        try {
            wrapped.onResult(result, t);
        } catch (Throwable e) {
            logger.error("Callback onResult call produced an error", e);
        }
    }`
In our codec we can try catch exception somethin

[2019-05-11 07:19] kostya05983 commented on #174
@karianna I think we can add method findIterable which will return FindIterable
[code]
Also there is a recomendation to use mongo-reactive-streams  insetead of using findIterable
[code]

[2019-05-14 11:33] #31 closed

[2019-05-15 01:26] #164 closed

[2019-05-25 09:16] cazacugmihai commented on #142
Is there any progress on this?

[2019-05-25 15:27] karianna commented on #142
Unfortunately not - this is quite far down our priority list at the moment

[2019-05-28 15:15] tsegismont commented on #142
@karianna @cazacugmihai I've submitted #194

This issue has been filed some time ago and meanwhile quite a few methods have been fixed already (see for example https://github.com/vert-x3/vertx-mongo-client/pull/166).

I believe we could change the milestone to 3.8.0 (cc @vietj ). In this case I'll update the breaking changes page.

[2019-05-28 16:55] karianna commented on #142
Is the 'master;  branch 3.8.0 or 4.0.0?

[2019-05-28 17:23] tsegismont commented on #142
@karianna `master` is 4.0. If we change the target milestone I'll cherry-pick to the 3.8 branch.

[2019-05-28 17:39] karianna commented on #142
Cool, It's not an issue for us personally but if you want it for 3.8.0 then I'm happy to move the milestone!

[2019-05-29 05:49] sheldon-markk opened #195 "How to use aggregateWithOptions query"
We are exploring the aggregateWithOptions query using the vertx mongo client and are facing the following error

[code]

Sample query

[code]

[2019-06-03 08:22] tsegismont commented on #142
@karianna yes please, move it to `3.8.0`. Any chance that you could review the PR this week?

[2019-06-03 09:19] razzbee commented on #103
NumberDecimal implementation seems to be missing

[2019-06-03 09:28] razzbee opened #196 "java.lang.IllegalArgumentException: Invalid BSON field name $numberDecimal"
Try to store some decimal numeric data and I get this error :
java.lang.IllegalArgumentException: Invalid BSON field name $numberDecimal

[2019-06-03 10:41] karianna commented on #142
Added new milestone

[2019-06-03 10:42] #142 closed

[2019-06-03 10:42] karianna commented on #142
@tsegismont Can you also submit a backport PR to the correct branch (I think it's 3.7.x)?

[2019-06-03 13:52] karianna commented on #142
3.8 is fine in that case :-)

[2019-06-04 17:15] mszmurlo commented on #39
I've just spent half a Sunday  on what I thought being a bug in my code because manipulated data by `save()` was mutated. I see it had been moved from one milestone to another... What is the status of this issue ? Thx.

[2019-06-05 09:12] karianna commented on #39
@mszmurlo We don't have an active maintainer looking at this - so relying on community PR's at this stage.

[2019-06-26 12:26] sheldon-markk commented on #195
Is this only compatible with Mongo 3.6? as we currently use mongo 3.4

[2019-07-16 14:43] leolux opened #199 "bulkWrite works only for the last item of bulkOperations"
The method bulkWrite() accepts a list of BulkOperations.  My finding is that the only the last item of this list gets actually written to mongoDB and everything else is kind of ignored.

The callback of bulkWrite() returns successful without any error which is a bit strange.

[2019-07-16 17:29] leolux commented on #199
There is currently no unit test what tests the bulk write with multiple replace operations. Therefore I have created a quick test to verify:
https://pastebin.com/SAieGLQ5

This is the only test that fails.

[2019-07-25 12:16] CalElFe opened #200 "GridFS support not merged into release"
As seen in PR#165, there remains conflict needs to be resolved; hence, GridFS remains not implemented. Would you mind review those code and merge those code into next release version, Please?

[2019-07-26 01:57] #200 closed

[2019-08-03 16:13] kostya05983 commented on #195
Hello, @sheldon-markk It is a problem of mongo driver, and yes it was fixed in 3.8.0 version. More information you can find here [https://jira.mongodb.org/browse/JAVA-2827](url)

[2019-08-06 20:42] kostya05983 commented on #199
Hello, @leolux , Thanks for submitting,
I think you may submit it to mongodb driver. We use an async-mongodb-driver. I check that vertx-mongo-driver passes all operations to mongo async client and get a result from it.
Can you check that you get the same result with mongodb-async driver? You can find it here [https://mvnrepository.com/artifact/org.mongodb/mongodb-driver-async](url)

[2019-08-09 16:19] leolux commented on #199
I can't get the first two lines of mongodb-driver-async t to work:
[code]
Both lines are marked as deprecated and the error is:
`No server chosen by com.mongodb.async.client.ClientSessionHelper`

I tried to follow this guide: https://mongodb.github.io/mongo-java-driver/3.10/driver-async/getting-started/quick-start/#connect-to-a-standalone-mongodb-instance

Maybe you somone else has more luck testi

[2019-08-16 08:39] sheldon-markk commented on #195
Hi @kostya05983 i check the driver version used in Vert.x 3.7.1 its 3.10.1, but i still get the same error for aggregate. I upgraded mongo to 4.0 and still the same issue.

Is there any config param i need to set in the AggregateOptions?

[2019-09-05 19:56] StephenOTT commented on #141
Very annoying issue...

The workaround for this:

1. Set JsonIgnore on the get method for the Instant.
1. Create a new method that returns a JsonObject. Set the JsonPropery annotation to have the same attribute name was the value of the method you ignored.
1. Then do `return new JsonObject().put(JsonObjectCodec.DATE_FIELD, getMyInstant().toString());`

[2019-09-08 17:18] StephenOTT commented on #94
@kuffel great trick!  should be part of core docs usage

[2019-09-10 16:49] varuas commented on #195
I'm also facing the same issue, using the same versions as @sheldon-markk

[2019-09-10 17:33] sheldon-markk commented on #195
For now i have used the following technique and have also tested the same on 3.4, 3.6, 4.0 and 4.2

[code]

[2019-09-10 17:37] varuas commented on #195
Thanks a ton @sheldon-markk

[2019-09-10 17:39] kostya05983 commented on #196
@razzbee , I added numberDecimal to mongoClient.

[2019-09-10 18:59] varuas commented on #195
A drawback of this approach seems to be that we need to manually execute the getmore commands (by providing a cursor ID) if the number of records exceeds the provided batch size (100 in the above example).

[2019-09-11 02:49] kostya05983 commented on #195
@varuas, I try to see what happens in this week.

[2019-09-11 04:36] varuas commented on #195
Thanks @kostya05983 . And to clarify the issue further, the error can be reproduced if we execute any of the two aggregate methods:
- mongoClient.aggregateWithOptions()
- mongoClient.aggregate()

Provided that the number of results returned by the aggregate query is greater than the batch size (default 20).

The JIRA issue that you linked (JAVA-2827) is only a fix for the JUnit test case. The issu

[2019-09-11 16:25] fusseybill commented on #103
I am trying to use the vertx-mongo-client to write a long to a database.
`
compile group: 'io.vertx', name: 'vertx-mongo-client', version: '4.0.0-milestone2'
`

I can see you have implemented some code in "AbstractJsonCodec" to write a long, however, I can see that the Class is never used by the client.

(AbstractJsonCodec. line 83)
`
protected void writeValue(BsonWriter writer, String name, Objec

[2019-09-11 16:51] kostya05983 commented on #103
Hello, @fusseybill, No, the development is over, you can find an example with write a NumberLong in [JsonObjectCOdecTest](https://github.com/vert-x3/vertx-mongo-client/blob/master/src/test/java/io/vertx/ext/mongo/impl/codec/json/JsonObjectCodecTest.java). Client uses child of AbstractJsonCodec the JsonObjectCodec.

[2019-09-14 17:43] StephenOTT opened #202 "reactivestreams usage?"
So i was using the vertx-mongo-client, and the wrappers seems to be very limiting, and prevent easy access to the underlying mongo client so you can access the non-wrapped functions (hence the many requests in the issue queue for additional supported mongo client functions).

What does the vertx mongo client provide at this point that the Mongo reactivestreams client does not provide?  From what I

[2019-09-14 20:46] StephenOTT commented on #202
Here is a further example with a Find query:

[code]

This supports empty json objects `{}`  as well with the findQueryItems list.

GetRequest looks something like this:

[code]

(yes i know Optional is not "specifically designed" to be used this way, but its MUCH nicer usage for web filtering...)

[2019-09-15 08:38] kostya05983 commented on #202
@StephenOTT , We need to use jsonObject to generate souce, such extensions mongo-client for rxjava2, mongo-client for reactivestreams, mongo-client for js and e.t.c. If we don't use jsonObject or some wrappers such as dataObjects, we can't generate, it's limitation of vertx-codegen. Maybe we shoud think about redesign and use of reactive-streams, but it will have to remain features with codegen.

[2019-09-15 14:42] StephenOTT commented on #202
@kostya05983 great info!  So what's the standard / minimum of the wrapper requirement before you can use java types in the other languages?

[2019-09-16 09:19] vietj commented on #202
it would be good to have a mongo client based on this driver - what do you think @karianna ?

[2019-09-17 22:57] karianna commented on #202
It would, but realistically that's not something we can tackle at this time.

[2019-09-18 01:27] StephenOTT commented on #202
What is the minimum wrapper requirements for the codegen?

[2019-09-18 01:33] StephenOTT commented on #202
with a Subscriber such as:

[code]

There is a lot you can likely bring over from the current mongo wrapper.  Remove some of the junk that prevents flexibility, and leverage something like the above subscribers.

[2019-09-18 15:28] kostya05983 commented on #202
@StephenOTT , The minimum wrapper requirements are simple types and constructor with JsonObject, for example [click](https://github.com/vert-x3/vertx-mongo-client/blob/master/src/main/java/io/vertx/ext/mongo/IndexModel.java). Also you can use others dataObjects. Codegen is provided for interface where you have to use DataObjects and others available types. In realization of interface, you can use

[2019-09-23 03:26] razzbee commented on #196
okay, thanks, will have a look again

[2019-09-23 09:11] #196 closed

[2019-09-24 09:55] varuas commented on #195
Hi @kostya05983 , do you have any update on this issue?

At the moment, we are unable to use this library for any kind of aggregations, since anything with a result >= batch size (default batch size is 20) is resulting in the error.

[2019-09-24 14:38] kostya05983 commented on #195
Hello @varuas , I add a test with aggregateWithOptions, you can see in pull request. All works. [request](https://github.com/vert-x3/vertx-mongo-client/pull/203). You can provide your example and we try to solve an issue.

[2019-09-24 15:22] varuas commented on #195
Hi @kostya05983

Here's a sample unit test taken from your pull request, that will fail:
[code]

The key difference is that, the value of 'numDocs' has to be set >= 20 to reproduce this error.

[2019-09-24 17:13] kostya05983 commented on #195
@varuas if you set numDocs more than 20, test will fail 'cause you don't change fetch() to suitable the full amount of documents in collection.

[2019-09-24 17:23] varuas commented on #195
@kostya05983 In the above example, I changed the fetch() also. Both numDocs and fetch is set to 20 in the example I shared above. Please check and confirm.

Can you please try to run a test with 20 or more documents? (20 is the batch size, set by default in mongo). I'm pretty confident it will fail. Secondly, I logged the error inside exceptionHandler() in the above example, the error clearly indi

[2019-09-24 18:49] kostya05983 commented on #195
Thanks @varuas for case I catched an error, I will try to solve problem.

[2019-09-25 04:45] varuas commented on #195
Thanks @kostya05983 . Appreciate your help in this regard.

If there is anyone else reading this, and you're using aggregate() like us, you can set a very high value for batch size in the options as a temporary workaround. In our organization, all aggregation queries have been affected due to this bug, so we are forced to do this workaround (at the cost of performance, of course).

[2019-09-25 14:56] vietj opened #204 "Remove 3.x deprecations"

[2019-09-25 14:56] vietj opened #205 "Futurisation"
Bring a new set of methods returning `Future` instead of using an async result handler.

[2019-09-25 14:58] #204 closed

[2019-09-25 14:58] #205 closed

[2019-09-25 20:51] kristian commented on #195
Can this issue be reopened? The original suggested fix using Mongo Driver 3.8 did not work as expected. We are also still facing this error when doing aggregations resulting in a very small result set. Thanks!

[2019-09-29 12:22] kostya05983 commented on #195
Also, There is a PR to fix this, but it is without tests https://github.com/vert-x3/vertx-mongo-client/pull/206

[2019-09-29 12:52] kristian commented on #195
Hey @kostya05983, mhm, looking at PR #206, I am unsure whether it‘ll fix this issue. We can reproduce this behaviour even without using any options, e.g. our aggregation pipeline just returns one element (for instance by doing a $count as a last pipeline step).

[2019-09-29 12:57] kostya05983 commented on #195
Thanks, @kristian can you provide an example for this? How you use it that it returns one element.

[2019-09-29 13:03] varuas commented on #195
+1 to what @kristian said. As mentioned previously in this thread, this error occurs even for the basic aggregate() method (in addition to the aggregateWithOptions() method). It doesn't matter what the end pipeline returns, as long as the result size is greater than default batch size.

[2019-09-29 15:50] kristian commented on #195
@kostya05983, the following aggregation causes an issue with the same error message on our end, regardless of the collection we run it on:

`mongoClient.aggregate(COLLECTION, new JsonArray().add(new JsonObject().put("$count", "count")))`

This is a slight simplification, we are doing a $group beforehand, which is why we cannot use the native .count method of MongoDB.

[2019-10-07 05:44] sheldon-markk commented on #195
Yes we have started facing this issue, so whats the solution here?

[2019-10-07 06:53] vietj commented on #195
can one clarify or determine whether it is an issue in this client or in the wrapped Mongo client ?

[2019-10-07 07:13] varuas commented on #195
@vietj This is an issue with this client library (the original Mongo client works perfectly for aggregations). Basically *any* kind of aggregation cannot be used with this library (doesn't matter what the actual query is) since it doesn't seem to have the logic to fetch more results when size >= 20 and even worse, it results in an error.

[2019-10-15 19:00] alijaza opened #208 "Custom SSLContext using a separate keystore supported?"
Hello, with the standard Java MongoClient, rather than changing global SSL/TLS settings, we can create a custom SSLContext and initialize it with a trusted certificate and key. Then we generate the SSLSocketFactory from it and provide it to the MongoClientOptions.Builder.

Is there some equivalent to this for the vertx-mongo-client? I don't see this in the documentation for JsonObject config...

[2019-10-15 19:03] alijaza commented on #208
Something like this:

`
private static SSLContext createSSLContext() {
        try {
            SSLContext sslContext = SSLContext.getInstance("TLS");
            KeyManager[] keyManagers = getKeyManagers();
            sslContext.init(keyManagers, null, null);
            return sslContext;
        } catch (Exception e) {
            logger.error("Cannot create SSLContext", e);
        }

[2019-10-15 19:13] kostya05983 commented on #208
Hello, @alijaza , No we don't have such options, because vertx mongoClient is multi platform. Default mongoClient allow to set SslContext from javax.net.ssl. But maybe we can add this. @vietj can we ignore some static methods from generation?. I think it's good to be provide static method which can be construct mongo instance from MongoClientSettings for java world.

[2019-10-16 18:55] kostya05983 opened #210 "Failed ci on jdk11 in gridfs client tests"
There is a test failure https://travis-ci.org/vert-x3/vertx-mongo-client/jobs/592731896. I will submit a pr.

[2019-10-16 18:58] kostya05983 commented on #195
@varuas, @vietj  We use asyncBatchCursor, that's why we can't set maxAwaitTimeMs property. I delete this possibility for now. Maybe we should implement it on our layer in future.

[2019-10-17 08:33] vietj commented on #210
i.e if you fork this project and use your own Travis, the build should work

[2019-10-26 09:55] #195 closed

[2019-10-26 13:37] #210 closed

[2019-10-26 23:18] StarWindMoonCloud commented on #94
helpful trick, it'll be great if those filters are first citizen in vertx world as well

[2019-10-27 21:16] #208 closed

[2019-10-28 19:56] rkrashr opened #213 "ISODate type is serialized/deserialized incorrectly by vertx"
java Date type is converted to json as {'$date': iso string}
and then passed to mongo client by looking for a string value matching '$date' key
and saves as long value into mongodb (not mongo ISODate type)

on the other hand, mongodb recognizes ISODate type in plain json as
{'$date': long value}
or special Bson ISODate value construct.

The last one is not compatible with plain standard json, so t

[2019-10-28 22:58] limadelrey commented on #148
Is it on Vert.x's roadmap a reactive implementation of aggregate method (e.g. rxAggregate)?

[2019-11-03 07:57] vietj commented on #151
@limadelrey we don't know yet, if there is a contribution, definitely yes

[2019-11-13 11:53] st-h commented on #202
Would anyone be interested in collaborating in writing a simple as possible wrapper to make the `org.mongodb:mongodb-driver-reactivestreams` driver usable with vertx? I have been using the native async callback style driver for quite a while now and it has been working very well.

Afaik the only actual issue is that the driver uses its own thread pool and one needs to make sure that we get on the

[2019-11-21 10:08] Bjiji commented on #189
Any news ? Any workaround so far ?

This is really worrisome that findOne does not return at all (nor a success or a failure). As you could imagine, this creates nasty problems as it break the execution flow of the application.

[2019-11-21 13:15] Bjiji commented on #171
For information and as stated above:

[230fe883d395aaa50f834433c9e016aba1f85877](https://github.com/OSI-Califronia/vertx-mongo-client/commit/230fe883d395aaa50f834433c9e016aba1f85877) seems to properly fix the issue for me.

I had the problem when using 3.8.0, but since I upgraded to 3.8.3 it disappeared.

[2019-11-22 14:02] #171 closed

[2019-11-24 10:28] zenios opened #216 "Migrate to mongodb-driver-reactivestreams"
mongodb-driver-async is deprecated and mongodb-driver-reactivestreams is the new reference implementation

[2019-11-24 10:33] zenios commented on #216
Pull request created #215

[2019-11-24 10:33] zenios commented on #202
Please see #215

[2019-11-25 09:57] #216 closed

[2019-11-25 10:09] zenios commented on #216
Thanks

On Mon, 25 Nov 2019, 11:57 Martijn Verburg, <notifications@github.com>
wrote:

[2019-11-25 10:19] #202 closed

[2019-11-25 11:05] zenios commented on #202
Hi @st-h

You are right the current implementation other than
- Making sure everything is run on the right context
- Provide a basic API on top of mongo-reactive-streams
- Provide a polyglot implementation for all the languages vertx supports

**does not** do anything differently with regards to the native mongodb-driver-reactivestreams

I am sure that if you are using vertx with rx bindings it wo

[2019-11-25 11:08] st-h commented on #202
@zenios Thanks a lot for the clarification. Much appreciated.

[2019-11-27 11:16] gaurav-m commented on #112
Hi @karianna @gillbates

I am still facing this issue after setting `waitQueueMultiple` in mongo client config.
500 limit doesn't change.

Also the doc on https://vertx.io/docs/vertx-mongo-client/java/ says

Although from the code in PR (https://github.com/vert-x3/vertx-mongo-client/pull/113/files) it appears that this int value is a multiplier, and not the exact value.

[2019-11-28 11:11] karianna commented on #112
@gaurav-m Can you open a new issue for this please?

[2019-12-03 10:50] lwydyby opened #217 "When key exists dot(.), mongoclient does not throw an exception"
When key exists dot(.), mongoclient does not throw an exception. if you can thrown an exception
,it can make me quickly spot problems.And can you add a MappingMongoConverter similar to Spring to support dot(.)

[2019-12-04 07:45] gaurav-m opened #218 "waitQueueMultiple not working : any alternate to modify/increate queue size?"
Referring Issue https://github.com/vert-x3/vertx-mongo-client/issues/112

I am still facing this issue after setting waitQueueMultiple in mongo client config.
500 limit doesn't change.

Secondly, the doc on https://vertx.io/docs/vertx-mongo-client/java/ says

Although from the code in PR (https://github.com/vert-x3/vertx-mongo-client/pull/113/files) it appears that **this int value is a multiplier

[2019-12-04 07:46] gaurav-m commented on #112
@karianna https://github.com/vert-x3/vertx-mongo-client/issues/218
thanks)

[2019-12-30 23:20] sidvanarse opened #220 "Unable to connect to mongo DB using vertx mongo client."
Hi I am getting following exception when i try to connect to mongoDB using vertx jmongo client.
However i am able to connect to mongoDB using java mongodb driver client. So seems to be issue with vertx mongo client only.

No server chosen by WritableServerSelector from cluster description ClusterDescription{type=UNKNOWN, connectionMode=SINGLE, serverDescriptions=[ServerDescription{address=localhos

[2019-12-31 08:22] kostya05983 commented on #220
Hello, can you provide a part of code how you try to connect?

[2019-12-31 15:31] sidvanarse commented on #220
Code is very simple. PFB:

 JsonObject mongoconfig = new JsonObject()
        .put("connection_string", "mongodb://localhost:27017")
        .put("db_name", "test");

MongoClient mongoClient = MongoClient.createShared(vertx, mongoconfig);

JsonObject document = new JsonObject()
  .put("title", "The Hobbit");

mongoClient.save("books", document, res -> {
  if (res.succeeded()) {
    String id = res

[2020-01-07 19:00] limadelrey commented on #220
@sidvanarse Still needing help?

[2020-01-30 07:17] yogs95 opened #222 "Query failed with error code 2 and error message 'cannot set maxTimeMS on getMore command for a non-awaitData cursor' on server"
### Questions
While fetching results of aggregation pipeline in batches, I am getting below error when I am aggregating on mongo collection with vertx-mongo client, I tried with various options with AggregateOptions but didnt work.

The problem here it is not able to fetch subsequent batches after fetching the first batch, if I increase it to Integer.MAX it will work only for 16 mb of data in firs

[2020-01-30 11:03] naveedh27 opened #223 "Unable to insert JsonObject with BigDecimal attribute in it."
[code]
[mongotest.zip](https://github.com/vert-x3/vertx-mongo-client/files/4133643/mongotest.zip)

I am trying to convert JavaObject to JsonObject and trying to persist in Mongo. I am able to convert JavaObject to JsonObject with the help of` JsonObject.mapFrom()`

After converting when I try to persist in Mongo, BSONDocument is not supporting BigDecimal.

I have attached maven project to replicat

[2020-01-31 04:26] karianna commented on #223
The version of the driver you're using? I assume the zip file contains a sample code?

[2020-01-31 06:33] naveedh27 commented on #223
The version of the driver - mongodb-driver-async - **3.10.1**
I assume the zip file contains a sample code - **Yes. Zip file has sample code. You can replicate the issue**

[2020-01-31 07:49] yogs95 commented on #222
I Have resolved this issue,
There was bug in AggregateOptions, setMaxAwaitTime has 1000L by default and if it id more than 0 then they are setting this option while executing aggregation, but aggregation returns non-awaitData cursor and you cant set the setMaxAwaitTime to non-awaitData cursor

So I have set the setMaxAwaitTime options to 0, typically my options looks like below

AggregateOptions o

[2020-01-31 08:07] #222 closed

[2020-03-18 20:48] yogs95 commented on #222
Hey @karianna Im just thinking
its better to address this issue so that we can avoid the work around from the client side code.

[2020-03-18 20:55] yogs95 commented on #222
already an issue raised for similar concern
https://github.com/vert-x3/vertx-mongo-client/pull/209

[2020-04-02 20:01] UglyHobbitFeet opened #224 "Multi threaded access request failures"
I get Multi threaded access request failures when using this package. This is an extension of ticket (https://github.com/vert-x3/vertx-config/issues/113) . FWIW I tried with both Vertx 3.8.5 and 3.9.0

Here is the most basic example I can think of to generate it:
[code]
The Error I receive is:
[code]

If I run everything in sequence instead of parallel I do not get those errors. However that cause

[2020-04-11 16:09] roottraveller opened #225 "value mentioned in documentation is wrong"
### Context

the value mentioned in the documentation is wrong
[code]

It should be `The default value of batchSize = 20.`
### version
io.vertx:vertx-mongo-client:3.9.0

[2020-04-14 17:34] rraks commented on #189
Is this still not resolved?

[2020-04-29 07:15] landon30 opened #227 "support-specify business field as _id value"
#### Describe the feature
1. in our business，we have the unique id generator.
2. we want to use the generated id as the mongo collection `_id`
3. we support this?

#### Use cases
as above

#### Contribution

[2020-04-29 09:37] karianna commented on #227
Hi @landon30 - that's more of a fundamental MongoDriver ask than it is of the vertex client to that driver.  I'd ask over at MongoDB.

[2020-04-29 10:04] landon30 commented on #227
you can see [spring-data mongodb](https://docs.spring.io/spring-data/mongodb/docs/1.3.3.RELEASE/reference/html/mapping-chapter.html)
   - A field annotated with @Id (org.springframework.data.annotation.Id) will be mapped to the '_id' field.
  - A field without an annotation but named id will be mapped to the '_id' field.
i think some api usage an refer to spring-data mongodb

[2020-05-12 11:18] karianna commented on #39
This would be a breaking change so if a fix was to occur it would need to be in the next major version

[2020-05-12 11:28] karianna commented on #82
This was added some time ago. See MongoClient line 344

[2020-05-12 11:30] karianna commented on #111
closing as no response

[2020-05-12 11:30] #111 closed

[2020-05-12 11:34] karianna commented on #146
Fixed some time ago

[2020-05-12 11:34] #146 closed

[2020-05-12 11:35] karianna commented on #151
Reactive Streams 4.0.2 drive is now in place.

[2020-05-12 11:35] #151 closed

[2020-05-12 11:43] karianna commented on #173
@naveenjeeri Can you try with the latest vertx Mongo client, we are now using a reactive driver under the hood.

[2020-05-12 11:46] karianna commented on #184
closing due to lack of response

[2020-05-12 11:46] #184 closed

[2020-05-12 11:52] karianna commented on #189
This has been fixed some time ago.

[2020-05-12 11:52] #189 closed

[2020-05-12 11:58] karianna commented on #199
https://pastebin.com/SAieGLQ5 shows the bug well.

[2020-05-12 12:04] karianna commented on #213
This was fixed some time ago

[2020-05-12 12:04] #213 closed

[2020-05-12 12:05] karianna commented on #220
no response so closing

[2020-05-12 12:05] #220 closed

[2020-05-12 12:07] karianna commented on #223
@naveedh27 Can you try again with the latest vertx Mongo client (nightly) - we've swapped to reactive streams and the support should be there now

[2020-05-12 12:10] karianna commented on #218
@gaurav-m We don't appear to support that option in the latest client, are you able to give an example of its usage?

[2020-05-12 12:15] karianna commented on #199
We're not sure this test is surfacing a bug.  The test inserts a single document and then attempted to do 2 bulk operations, one of the inserted doc and another on a doc that doesn't exist, which is why we only get back a modifiedCount of 1

[2020-05-12 12:16] karianna commented on #199
The following test shows bulk operations 'working'

[code]

[2020-05-12 12:17] karianna commented on #199
@leolux Can you confirm that this works for you?

[2020-05-12 12:19] bjaanes commented on #151
But this does not add transaction support yet, I guess? @karianna

[2020-05-12 12:26] karianna commented on #151
They are supported natively by the driver, but we do not have any specific API endpoints for this in the client

[2020-05-12 13:49] bjaanes commented on #151
True, but to use them you have to create a client session and start the transactions and then commit or abort it. So I suppose we still need that. Is there a separate ticket for transaction support?

[2020-05-12 20:27] karianna commented on #151
#158

[2020-05-17 20:57] leolux commented on #199
Thank you for improving the testcase. I like it to setup a similar testcase using the `mongodb-driver-async` driver because that is the driver where I was facing the issue initially. I need a couple of days for this because I got too much going on

[2020-07-04 19:11] Pakho opened #231 "MongoDB : "Monitor thread successfully connected" spammed indefinitely"
### Questions

I am using es4x in Linux, with vertx on GraalVM to deploy a server and connect to MongoDB.

The connection is successful, but I get this message in the terminal at about every 10 seconds (but sometimes it would skip a beat).

`Monitor thread successfully connected to server with description ServerDescription{address=Myproject-shard-00-02.ezaez.mongodb.net:27017, type=REPLICA_SET_SEC

[2020-07-06 09:44] pmlopes commented on #231
In es4x to reduce the configuration by the end user, we ship the following logger settings:

https://github.com/reactiverse/es4x/blob/develop/es4x/src/main/resources/vertx-default-jul-logging.properties

Perhaps we should reduce the default level `.level` to warning instead of info.

If you add this file to your project root with `WARNING` instead it may hide the message.

[2020-07-06 22:27] Pakho commented on #231
Thanks for the input. Unfortunately it is not working, the problem persist. It makes developing almost impossible.

Not only I have added the file to the project root (same folder as my index.js), but I also changed the property file under graalVM/conf  to WARNING.

[2020-07-07 11:25] pmlopes commented on #231
@Pakho from what I can see the message is comming from `com.mongodb.internal.connection.DefaultServerMonitor` which is using `SLF4J` as a logger.

The logger name is: `org.mongodb.driver.cluster` as described here: http://mongodb.github.io/mongo-java-driver/3.0/driver/reference/management/logging/

Now this means that SLF4J is on the classpath otherwise this code on the driver would not do anythin

[2020-07-07 12:11] Pakho commented on #231
Hello,

Here are all the jar under .lib:

asm-7.1.jar
es4x-0.12.0.jar
mongodb-driver-async-3.10.1.jar
netty-codec-socks-4.1.49.Final.jar
profiler-20.1.0.jar
vertx-unit-3.9.1.jar
asm-analysis-7.1.jar
graal-sdk-20.1.0.jar
mongodb-driver-core-3.10.1.jar
netty-common-4.1.49.Final.jar
regex-20.1.0.jar
vertx-web-3.9.1.jar
asm-commons-7.1.jar
icu4j-66.1.jar
netty-buffer-4.1.49.Final.jar
netty-handler-4.1

[2020-07-07 12:58] pmlopes commented on #231
@Pakho the issue is that `es4x` is setting the logging config and vertx-core only looks them on the classpath. I'll fix it on `es4x`, for now you can do the following:

create a `logging.properties` file or whatever name you prefer with:

[code]

And then run the application as:

[code]

In my case this stops showing the mongo logs. In es4x, i'll first verify if there is a logging properties in th

[2020-07-07 12:59] pmlopes commented on #231
I'm closing this issue as invalid as it should be fixed on `es4x` and continue the work there.

[2020-07-07 12:59] #231 closed

[2020-07-30 19:04] pmlopes commented on #224
@UglyHobbitFeet could you prepare a small working example, i can copy paste and look into? I want to trace the issue as it is not clear if it is a vertx context mismatch or a es4x bug

[2020-08-03 09:39] felrugo commented on #227
Hi @landon30
As I see, the mongo driver supports custom Id field.
You can put the custom generated id into the _id field of the inserted document.
You can also use another field as Id by creating an index to that field.

[2020-08-03 14:33] UglyHobbitFeet commented on #224
I'm sorry but I don't know how to provide more info than what's already in
this ticket. I'm unfamiliar with setting this up in a sandbox that you can
access.  Hopefully what I've already posted will be enough to go off of

On Thu, Jul 30, 2020 at 3:04 PM Paulo Lopes <notifications@github.com>
wrote:

[2020-09-15 21:39] yahyavi opened #233 "Support ping"
#### Describe the feature
Support ping function from Mongo:
https://docs.mongodb.com/manual/reference/command/ping/

#### Use cases

We'd like to use ping to make sure mongo is up and accessible and as a heartbeat mechanism to keep connection alive.

[2020-11-04 09:23] bfreuden opened #235 "Sharing a MongoClient for multiple databases"
#### Describe the feature

I would like to access multiple databases from a single MongoClient instance.

As far as I can understand the source code, this is not the case: a single MongoClient instance is always tightly linked to a single database (see [MongoClientImpl.java in vertx-mongo-client](https://github.com/vert-x3/vertx-mongo-client/blob/639740e87f39e7068124e7d4c83c5b98c906b22d/src/main/j

[2020-11-04 12:27] bfreuden opened #236 "Support updates with aggregation pipelines"
#### Describe the feature

MongoDB supports updates with aggregation pipelines since 4.2.
https://docs.mongodb.com/manual/tutorial/update-documents-with-aggregation-pipeline/

I propose to add support for updates with aggregation pipelines in the Vert.x MongoDB client.

#### Use cases

The typical use case is updating one or many documents using a logic that is based on fields of the document.
For

[2020-12-30 03:37] fiberstar opened #242 "Should support multi document Transactional that is mongodb 4.x features?"
####
Now that  Mongodb has published 4.x vesion which support multi documents transactional so the driver should support this features.

[2020-12-30 04:17] jkrains commented on #242
I think the some method in mongodb MongoClientImpl.java， should be protected for some one can extends the class and do their own job.

[2021-01-08 20:13] DarrinProtag opened #243 "Config Parsing is out of order"
### Version

4.0.0

### Context

I was parsing json/JsonObject with MongoClientOptionsParser.

### Steps to reproduce

1.            var parsing : MongoClientOptionsParser = MongoClientOptionsParser(vertx, JsonObject(mongoConfigJson))
2. Input Json: core: {
  mongo:{
    db_name: "mydb"
    connection_string: "mongodb://localhost:27017"
    maxPoolSize: 10
    minPoolSize: 3
  }
}
3. maxPoolSize i

[2021-01-09 08:49] vietj commented on #243
so we should first apply the connection string and then other options, is that right ?

[2021-01-09 23:12] zyclonite opened #244 "Unknown BsonType for Float value"
### Version

4.0.0

### Context

When putting a float value into a JsonObject and inserting it into a collection, there will be an exception like `IllegalStateException: Unknown BsonType for '1.123'`

Writing double values works like expected

[2021-01-11 17:22] DarrinProtag commented on #243
Yes. That's what I think would be most intuitive. I'd expect the explicit options to overwrite anything from the connection string.

If you find some reason to do it in the opposite order, I could live with that too. The most important thing to fix is that both sources are combined and applied (right now, one is ignored).

[2021-01-11 18:48] vietj commented on #243
I believe we are sharing the same opinion, but it would be good to hear more voices here

[2021-01-13 09:09] vietj commented on #243
@DarrinProtag can you provide a pull request with this changes and tests ?

[2021-01-18 09:35] #244 closed

[2021-02-05 12:58] mf81bln commented on #181
Since this is still open... I'd suggest to just implement a health check and invoke the mongodb "ping" command.

- https://vertx.io/docs/vertx-health-check/java/
- https://docs.mongodb.com/manual/reference/command/ping/

[code]

Not sure if just the "ping" command should be implemented in the MongoClient as a "isConnected" method or if it would be a better idea to leave this to the application imp

[2021-02-05 18:11] #181 closed

[2021-02-05 18:13] mszmurlo commented on #181
That makes sense

[2021-02-06 13:35] bfreuden commented on #236
Hi,
If you want to have a look, the first commit is here:
https://github.com/bfreuden/vertx-mongo-client/commit/9dcbded69a1385c0774aceaca7e3e7aa5cffbac4

Flapdoodle still does not support MongoDB 4.2 but there is a beginning of support for MongoDB 4.4.1.
So I upgraded Flapdoodle to 3.0.0, MongoDB to 4.4.1, and hardcoded the download for Ubuntu because of this Flapdoodle bug:
https://github.com/fla

[2021-02-08 07:40] vietj commented on #181
perhaps this could be documented in the mongo db vertx documentation ?

[2021-02-08 07:49] vietj commented on #236
I think this project should be switched to test container instead of flapdoodle

[2021-02-08 07:49] vietj commented on #236
@bfreuden do you mind first doing a PR upgrading this project to test containers?

[2021-02-08 17:04] mf81bln opened #248 "MongoClientOptionsParser does not use credentials in connection_string"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Which version(s) did you encounter this bug ?
- v4.0.0

### Context

Spring Boot Starter Data MongoDB allows to create a connection just by providing a proper MongoDB connection string.
From a first glance the

[2021-02-08 17:36] bfreuden commented on #236
Hi Julien,
Thanks for you reply.
I can do that!
It will require docker on the build machine though. Is it ok?
Should I first create a dedicated github issue like "Replace flapdoodle with  testcontainers"?

[2021-02-09 07:25] vietj commented on #248
I think it would be good to implement this

[2021-02-10 09:04] bfreuden commented on #236
@vietj as I wanted to proceed, I assumed "yes" and "no" :)

[2021-03-09 17:17] #248 closed

[2021-03-09 17:37] tsegismont commented on #243
@vietj @DarrinProtag the [documentation](https://github.com/vert-x3/vertx-mongo-client/blob/83afa4913f924a0b26b32fb33af06b5e0a288411/src/main/asciidoc/index.adoc#configuring-the-client) indicates that the client is configured either by the connection string or the options.

I'm not sure why this decision was made, perhaps @karianna or @johnoliver know?

In any case, I don't believe we should chang

[2021-03-09 19:18] karianna commented on #243
Before we even became maintainers and we stepped down some time ago so we haven't been keeping up I'm afraid :-(

[2021-03-10 09:07] vietj commented on #243
yes this is a good target for 4.1 although it looks like a quick-win.

On Tue, Mar 9, 2021 at 6:37 PM Thomas Segismont ***@***.***>
wrote:

[2021-03-10 09:10] vietj commented on #236
@bfreuden made a small comment on the testcontainers PR to bump to 1.15.2 and I'll merge it asap, then we can take care of your contribution

[2021-03-17 14:41] vietj commented on #236
is there a PR for this issue ?

[2021-03-17 16:28] bfreuden commented on #236
@vietj yes I submitted this PR:
https://github.com/vert-x3/vertx-mongo-client/pull/251

[2021-03-17 16:30] bfreuden commented on #236
It required to bump MongoDB version to 4.2 (first version having this feature).

[2021-03-18 11:19] vietj commented on #236
ok, can you open also a separate issue for mongo version upgrade and reference it ?

[2021-03-18 20:10] bfreuden opened #253 "Update MongoDB version to 4.2 in unit tests"
#### Describe the feature
Right now MongoDB version is 4.0, I propose to bump the version to 4.2

#### Use cases

This will enable support for updates with aggregation pipelines (available since 4.2):
https://docs.mongodb.com/manual/tutorial/update-documents-with-aggregation-pipeline/

This is a prerequisite of #236.

[2021-03-18 20:14] bfreuden commented on #236
@vietj Sure!
Updates with aggregation pipelines require MongoDB 4.2 in uni test.
This is the purpose of this ticket: #253
The #251 PR addresses both upgrading MongoDB version to 4.2, and support for updates with aggregation pipelines.

[2021-04-06 12:00] bfreuden commented on #236
@viet not sure where we stand regarding this issue. Let me know if you need something else from me.

[2021-04-06 12:50] vietj commented on #236
it needs to be reviewed I think @bfreuden

[2021-04-06 12:50] vietj commented on #236
where is the PR for the version update ?

[2021-04-06 12:52] vietj commented on #236
I can't see a PR for 4.2 upgrade of mongo version, am I missing soemthing ?

[2021-04-06 17:03] bfreuden commented on #236
I understand it must be reviewed. No worries and no need to rush.
The #251 PR addresses both upgrading MongoDB version to 4.2, and support for updates with aggregation pipelines.
Do you need a separate PR for the MongoDB version upgrade?

[2021-04-07 04:02] wbkys commented on #58
Is bulk write the same thing as insertmany()?

[2021-04-09 00:57] wbkys commented on #242
Same expectation

[2021-04-09 08:52] vietj commented on #242
we accept contributiosn for this

[2021-04-16 08:55] #243 closed

[2021-07-07 04:48] bboyz269 commented on #235
This one really needs attention. vertx4 also has the same limitation.
It's introducing so much hassle when dealing with multi-tenancy.

[2021-07-07 07:16] vietj commented on #235
I scoped the issue and mention that it can be contributed by the community to get contributors attention @bboyz269

[2021-07-07 10:41] bfreuden commented on #235
@vietj @bboyz269 I am ready to discuss the topic with you if you are willing to.

I'm under the impression it is not so complex to implement but, because the `io.vertx.ext.mongo.MongoClient` is mixing client and databases methods, we probably need a 2 steps plan: a first move with non-breaking API changes, and a second move with breaking API changes.

[2021-07-08 07:09] vietj commented on #235
@bfreuden can you share a proposal ?

[2021-07-08 11:27] bfreuden commented on #235
Yes.
Having a look at the methods of the `io.vertx.ext.mongo.MongoClient` interface, I'm realizing it could almost be called `io.vertx.ext.mongo.MongoDatabase`.
Let me show you the `MongoClient.java` file without its database-only methods:
*  methods having a `String collection` parameter
* `getCollections` methods
* `runCommand` methods because they are database-related (see https://mongodb.githu

[2021-07-08 16:11] bfreuden commented on #235
For the moment, factory methods require a database name in the config of the client.

As it must no longer be the case in the future, all database-related methods of the MongoClient should "throw" an `IllegalStateException` if the database name is not set in the config.

Maybe we could log a deprecation warning to discourage users from specifying a database name `MongoClient` factory methods?

Sho

[2021-07-08 16:19] bfreuden commented on #235
The Vert.x MongoClient is also a bit special compared to the Java driver in the sense that it also mixes `MongoDatabase` and `MongoCollection` methods (in addition to mixing `MongoClient` methods).

That's why the first parameter of many methods is `String collection`.

I'm not sure we want to push the refactoring that far though, because the migration path would be harder:
[code]

[2021-07-12 06:55] vietj commented on #235
Do you think you could provide a new implementation from scratch of this
instead ?

On Thu, Jul 8, 2021 at 6:19 PM bfreuden ***@***.***> wrote:

[2021-07-12 12:20] sophokles73 opened #259 "Update MongoDB driver to 3.12.8"
The MongoDB driver used in the pre-4.x vert-x versions is quite outdated (3.10.1) and should probably be updated to the latest 3.12.8 service release to take advantage of bug fixes and new features.

I can create a corresponding PR if you agree that we should update the driver.
However, I am not sure if there actually will be a vert-x 3.9.9 release which could include this change ...

[2021-07-13 07:25] vietj commented on #259
@sophokles73 please shoot PRs for master, 4.1 branch and 3.9 branch, there is a 3.9.9 expected. Actually Vert.x 3 remains supported for 2 years starting from the 4.0 release

[2021-07-13 17:01] bfreuden commented on #235
@vietj

do you mean I'm to create a new vertx-mongo-client2 repo in my github account, and to reuse the current Vert.x mongo client source code?
If so: very probably, but I won't be able to start before before end of July.

[2021-07-29 22:16] rennyahernandez opened #261 "Unknown BsonType for BigDecimal/BigInteger values"
### Version

4.1.2
### Context
When putting a BigDecimal or BigInteger value into a JsonObject and inserting it into a collection, there will be an exception:
`java.lang.IllegalStateException: Unknown BsonType for '0'
	at io.vertx.ext.mongo.impl.codec.json.AbstractJsonCodec.writeValue(AbstractJsonCodec.java:86)
	at io.vertx.ext.mongo.impl.codec.json.AbstractJsonCodec.lambda$writeDocument$1(Abstrac

[2021-08-05 13:53] MosheAvdiel commented on #112
Hello, any update on this issue?   I'm unable to set this value (waitQueueMultiple).
How to update the connection pool settings?
Using Vertx and MongoClient with json options.
Thanks in advance.

[2021-08-05 13:59] MosheAvdiel commented on #218
Hello,
Any updates on setting the wait queue size?  Is there any other way to set the connection pool to support more concurrent connections ?
Thanks in advance.

[2021-09-11 20:18] GJean commented on #141
Hello, with vertx mongo client in version 4.1.3, I have the same error with Instant fields in Object :

`java.lang.IllegalStateException: Unknown BsonType for '1631390172.063593000'
	at io.vertx.ext.mongo.impl.codec.json.AbstractJsonCodec.writeValue(AbstractJsonCodec.java:86) ~[vertx-mongo-client-4.1.3.jar:4.1.3]
	at io.vertx.ext.mongo.impl.codec.json.AbstractJsonCodec.lambda$writeDocument$1(Abstr

[2021-10-10 06:04] Linindoo opened #262 "can not connect mongodb cluster by connection_string"
### Questions

when i use connection_string to connect a mongodb cluster,it can not get anything but with timeout.

`
Timed out after 30000 ms while waiting for a server that matches ReadPreferenceServerSelector{readPreference=primary}
`
the connection_string is like this.
` mongodb+srv://<username>:<password>@cluster0.bweto.mongodb.net/myFirstDatabase?retryWrites=true&w=majority `
it is correct b

[2021-10-11 16:02] tsegismont commented on #236
@bfreuden can we close this one? Otherwise, what is missing after #254 has been merged?

[2021-10-11 16:05] tsegismont commented on #262
Can you provide a Docker Compose file that helps reproducing the issue?

[2021-10-13 19:57] bfreuden commented on #236
@tsegismont yes thank you: I don't think there's anything missing.

[2021-10-14 09:39] #261 closed

[2021-10-14 09:53] pmlopes commented on #141
This issue seems to be fixed in master. Adding `Instant.now()` as a value is correctly sent to the database.

[2021-10-19 09:22] DarwinsBuddy opened #264 "Add support for collation option"
#### Describe the feature

As of mongodb 3.4 it's possible to provide specific collation in below features.
It would be very helpful to add the possibility to provide it as well in e.g. IndexOptions, etc.

create | db.createCollection()db.createView()
-- | --
createIndexes [1] | db.collection.createIndex() [1]
aggregate | db.collection.aggregate()
distinct | db.collection.distinct()
findAndModify

[2021-10-25 08:23] DarwinsBuddy opened #267 "flaky test testWatch in MongoClientTest"
### Version

master

### Context

Every now and then `io.vertx.ext.mongo.MongoClientTest#testWatch` fails with
[code]

Rerunning it often leads to a green test.

### Do you have a reproducer?

Unfortunately, I do not have a reproducer.

### Steps to reproduce

1. Run all tests
2. cross your fingers, that the flaky one will fail

### Extra

* 5.14.14-arch1-1
* java-16-adoptopenjdk

[2021-12-07 21:21] #267 closed

[2021-12-20 15:56] #264 closed

[2022-01-03 17:25] DarwinsBuddy commented on #225
Should be fixed in https://github.com/vert-x3/vertx-mongo-client/pull/273

[2022-01-26 09:11] #225 closed

[2022-03-11 07:39] #259 closed

[2022-03-11 07:40] #253 closed

[2022-03-11 07:49] vietj opened #275 "MongoClient close blocking thread"
The actual `MongoClient` can perform a synchronous operation when closing the client (write and wait for database read) which blocks the event-loop thread.

[code]

[2022-03-11 07:52] #275 closed

[2022-03-17 07:59] Hoyuelos opened #276 ""Invalid BSON field name $numberLong""
Hi, I want to save a 32-bit int as a 64-bit int from json, I am trying below json but got above mentioned error

{"$numberLong":"50"}

[2022-04-21 08:11] aomsweet commented on #58
Hi, @vietj, @karianna  Are there any new plans? Currently, batch inserts are still not possible. Am I missing something? Thanks.

[2022-04-27 11:51] M4ikT opened #278 "MongoClient::renameCollection(....)"
#### Read me

#### Describe the feature

`io.vertx.ext.mongo.MongoClient` should implement

`Publisher<Void> renameCollection(MongoNamespace newCollectionNamespace);`
`Publisher<Void> renameCollection(MongoNamespace newCollectionNamespace, RenameCollectionOptions options);`
`Publisher<Void> renameCollection(ClientSession clientSession, MongoNamespace newCollectionNamespace);`
`Publisher<Void> rena

[2022-05-27 04:44] matter-it-does opened #280 "java.lang.NullPointerException in BulkOperation constructor."
### Version
Java version 8

vertx mongo client version 4.2.5

### Context
The constructor of `BulkOperation` prevents using a setter pattern as shown in the repro.

Since the map contains no "upsert" key, it returns null and the cast to Boolean throws the exception. better would be to catch it, set upsert and multi to false or defaults. And let user use setter later.

[code]
[code]
### Do you have

[2022-05-30 06:38] vietj commented on #280
@matter-it-does can you contribute a PR to fix that please ?

[2022-05-31 08:36] vietj commented on #58
@aomsweet we are welcoming a contribution for this feature. @karianna does not have time anymore to contribute to this module.

[2022-05-31 11:00] matter-it-does commented on #280
done @vietj

[2022-06-08 10:08] gaganis opened #282 "Aggregation ReadStream intermittently fails to deliver results to the handlers"
### Version

4.3.1

### Context

We have a test in our testsuite that is testing an aggration query that we have developed we are running this aggregation with `io.vertx.ext.mongo.MongoClient#aggregate`. We occasionally have ci failures because our code hangs and does not finish.

Our investigations have led us to suspect that aggregation results are not delivered to the handler of the ReadStream

[2022-06-09 14:02] tsegismont commented on #58
In fact, it is already to insert multiple documents with [Bulk operations](https://vertx.io/docs/vertx-mongo-client/java/#_bulk_operations)

[2022-06-13 07:56] tsegismont commented on #282
Thanks for the report, I'll give a try to the reproducer.

[2022-06-13 15:59] Shubgupta007 opened #283 "It is not a valid json."

[2022-06-15 12:42] tsegismont commented on #282
This happens because the version of the Mongo Java driver enforced by the Spring Boot BOM is not compatible with the Vert.x Mongo Client.

I don't understand yet what is the problem but the big difference is that the new versions uses Spring Reactor as its Reactive Streams implementation (it was not the case before).

So, currently, if you want to use Vert.x Mongo Client in a SB app, you have to f

[2022-06-20 12:47] gaganis commented on #282
Thanks for the investigation and providing the recommendation. We have tried it and it not working out for us.

It appears that Spring Boot(in our case 2.7.0) assumes a different version of the driver and is not compatible itself with your proposed version of the driver.

We see the following:
[code]

Do you guys plan to provide a newer version of the Vert.x Mongo Client that is compatible with th

[2022-07-04 11:54] kofiStariji opened #284 "Bulk write missing inserted ids in response"
Using latest vertx mongo client when bulkWrite is called in response we are missing list of inserted item ids, this list is part of response inside mongodb driver:

[code]

but it is not mapped after successful operation (only list of upsert ids is mapped):

[code]

[2022-07-04 12:26] tsegismont commented on #284
Would you like to contribute?

[2022-07-04 12:56] kofiStariji commented on #284
Yes, I would. I will probably need someone help with initial steps (Eclipse user id and ECA sign)...

[2022-07-04 13:04] tsegismont commented on #284
1. Sign the ECA http://www.eclipse.org/contribute/cla
2. Configure your fork so that the author email and user email are the same as the one of your Eclipse account
3. Sign-off your commit before pushing (with `-s`)

[2022-07-04 20:29] kofiStariji commented on #284
@tsegismont hi, I created pull request and tried to drop email to vertx-dev@googlegroups.com, as it is stated in guidelines... but I got error from mail server that I do not have permissions to post there, maybe I miss some of steps...
Please review pull request when you have time.

[2022-07-27 15:12] bfreuden opened #286 "OutOfMemoryError when using toReceiveChannel on findBatchWithOptions or aggregate"
### Version

4.3.2

### Context

The following code is very likely to create an `OutOfMemoryError`:

[code]
Note that 512 element do fit into memory without any problem.

### Do you have a reproducer?

https://github.com/bfreuden/vertx-reproducers/tree/master/mongo-client-oome

### Steps to reproduce

My setup:
- OpenJDK 11
- Maven 3.8.1

[code]

### Extra

The reproducer:
1. uses AspectJ to trace

[2022-08-01 16:16] tsegismont commented on #282
Not yet

[2022-08-02 13:35] kofiStariji opened #288 "Extend watch features to allow resume to change stream"
#### Describe the feature

Mongo driver supports multiple features that allow resume to specific change stream:

* resumeAfter
* startAfter
* startAtOperationTime

It is possible to extend already existing watch feature to support these options too.

#### Use cases

In failover scenarios when there is actual need to resume to change stream at specific point in time.

#### Contribution

I can imple

[2022-08-04 10:52] tsegismont commented on #286
Fixed in #287

[2022-08-04 10:52] #286 closed

[2022-08-05 16:34] jyemin opened #289 "Update to 4.7 MongoDB driver"
#### Describe the feature

Update the mongodb-driver-reactivestreams dependency from 4.1.2 to 4.7.1.

#### Use cases

The 4.7.1 driver is backwards-compatible with 4.1.2, so the vertx-mongo-client should not require any changes.  This update will give users confidence that vertx-mongo-client will work with MongoDB 5.0 and 6.0, both of which the 4.7 driver is tested against.

#### Contribution

I'm

[2022-08-05 16:52] tsegismont commented on #289
Hi @jyemin , thank you. Please go ahead!

[2022-08-10 13:20] bfreuden commented on #235
@tsegismont @vietj: since I have some spare time during summer, I tried to move on the topic.

I wrote a javadoc Doclet to analyze the source of the MongoDB reactive driver to have a better understanding of the MongoDB API before proceeding (you can open gephi files in the root of my repo with [gephi](https://gephi.org/)).

I realized there are tons of classes (84) related to the creation of the M

[2022-08-11 17:51] bfreuden commented on #235
I've added some code to generate `*Options` classes:

https://bfreuden.github.io/vertx-mongodb-gen/index.html

Some classes can't be easily automatically generated, so I've created them manually (empty classes):

https://bfreuden.github.io/vertx-mongodb-gen/io/vertx/mongo/package-summary.html

Next step will be to create `*Options` classes from various `*Publisher` classes.

[2022-08-18 20:15] bfreuden commented on #235
Looks like I'm on the right track (see the `SimpleTest.java`):
[code]
https://bfreuden.github.io/vertx-mongodb-gen/index.html

But there's still a lot to be done:

- watch methods are not implemented
- gridfs is not implemented
- conversions are not implemented
- the JsonObject codec is missing

But for the moment almost everything is generated by the doclet.
Not sure that was the right approach b

[2022-08-19 12:47] bfreuden commented on #235
Today I've integrated the `JsonObject` codec and created factory methods (createShared + config etc...) in the interface:
[code]
It allowed to check that retrieving data is ok:
[code]
I also tested transactions but I get an error because my MongoDB does support them (plus I need help with the future/promise stuff because I'm a Kotlin coroutine guy):
[code]

[2022-08-24 18:08] bfreuden commented on #235
I have started to port the existing `MongoClientTestBase` into my project: `vertx-mongodb-gen/src/test/java/io/vertx/ext/mongo/MongoClientTestBase.java`

@vietj @tsegismont I would be interested by your feedback. The source code is almost entirely generated.

https://bfreuden.github.io/vertx-mongodb-gen/index.html

It is definitely closer to the original MongoDB API than it was before.

For the mo

[2022-08-26 12:30] bfreuden commented on #235
Almost all base tests are passing now.
Those with useObjectId=false don't pass.
I also need to finish the GridFS implementation.

[2022-08-26 19:44] bfreuden commented on #235
The GridFS implementation is done.
I've started porting the `GridFsTest` unit test in `vertx-mongodb-gen/src/test/java/io/vertx/ext/mongo/GridFsTest.java`.
[code]

At this point I think that, compared to the existing implementation, this implementation lacks the support of `useObjectId=false` and a JSON-based configuration to create the MongoClient.

But it adds support for multiple databases and

[2022-08-29 21:05] vietj commented on #235
I will have a look

[2022-08-30 13:44] bfreuden commented on #235
Thank you very much!
I've added the possibility to create a MongoClient from a json configuration:
This is not fully implemented but here is the idea:
[code]
The tricky part with the `MongoClientSettings`  settings class is it is a mix of json serializable and non serializable things like callback, listeners, etc... I've done my best to put the json-compatible things in the vertx configuration obj

[2022-09-01 07:37] bfreuden commented on #235
I've started the implementation of `useObjectId=false`.
It's done in a different way though: there are still object ids in the database but the client shows them as strings in the json:

[code]

[2022-09-01 18:40] bfreuden commented on #235
I think the implementation of `useObjectId=false` is complete: I've resurrected the `MongoClientTest` test that is running the `MongoClientTestBase` test with `useObjectId=false`.
There is a behavioural difference with the existing mongo client though.

[2022-09-02 10:53] bfreuden commented on #235
I've added `replaceOne` methods without `filter` parameter to the `MongoCollection` in order to have something close to the `save` and `saveWithOptions` that are specific to the existing vert.x mongo client and that don't exist in the MongoDB driver.

[2022-09-02 12:21] vietj commented on #235
@bfreuden can we setup a call to discuss this ?

[2022-09-02 12:35] bfreuden commented on #235
@vietj certainly. I've updated my GH profile to include my email address. Feel free to send me an invite. My availabilities next week are: monday am, wednesday, thursday and friday am.

[2022-09-22 13:22] muthenberg opened #291 "CodecConfigurationException on uploading nested metadata to GridFS"
### Version

I tried on Vert.x Version 4.3.2 and 4.3.3

### Context

When uploading a file to GridFS using the Vert.x Client I get `org.bson.codecs.configuration.CodecConfigurationException: Can't find a codec for class java.util.LinkedHashMap$Entry.`. This seems to be caused by providing nested JSON metadata in the form of `new JsonObject().put("test", new JsonObject().put("test", "test"))`.

###

[2022-09-22 22:17] muthenberg commented on #291
Hm. If I update the mongo-driver-core and mongo-driver-reactivestreams to 4.7.1 manually it starts to work again. It seems there is an issue with the current dependency version (4.2.1).

[2022-11-10 14:19] DemonicTutor opened #293 "Mongo Client should not require Jackson Databind"
### Version

since this commit: https://github.com/eclipse-vertx/vert.x/commit/c59300aa8aebb0ac66bbfae3244616869c930d7a
jackson-databind is optional

### Context

First time we want to use `aggregate` in one of our services.

### Do you have a reproducer?

verts-mongo-client calls JsonObject's `public static JsonObject mapFrom(Object obj)` in some paths and in test scope the dependency is present.

[2022-11-18 13:11] tsegismont commented on #282
Closing, progress is tracked in #289

[2022-11-18 13:11] #282 closed